body
    header
        h1.title 高雄旅遊資訊   
        select.select-area 
            option(value="---請選擇地區---" selected) ---請選擇地區---
            option(value='苓雅區') 苓雅區
            option(value='三民區') 三民區
            option(value='新興區') 新興區
            option(value='鹽埕區') 鹽埕區
    .menu
        h6 熱門行政區
        .menu-input
            input(type="button" value="苓雅區" class="menu-btn")
            input(type="button" value="三民區" class="menu-btn")
            input(type="button" value="新興區" class="menu-btn")
            input(type="button" value="鹽埕區" class="menu-btn")
    .hr
    .container.pt-3
        .h2.content-title ---請選擇地區---
        .row.content
        .row
            .col-12
                nav
                    ul.pagination.justify-content-center.mb-5
    .container-fluid.footer
        .row
            .col-12
                p.text-center.text-white 高雄旅遊網
                p.text-center.text-warning.mb-0 資料來源：高雄市政府 



        
    