＠font-face {
	font-family: 'Questrial', sans-serif;
	src: url(../fonts/Questrial/Questrial-Regular.woff)format("woff"),
		   url(../fonts/Questrial/Questrial-Regular.ttf)format("truetype"),
		   url(../fonts/Questrial/Questrial-Regular.eot)format("embedded-opentype");
}
@import "_animate.scss";
//主色系
$m-dark: #141414;
$m-light: #e0e0e0;
$m-blue: #007aff;
$m-blueLight: #00beff;
$m-skin: #ce6563;
.m-dark{ color: #141414;}
.m-light{ color:#e0e0e0;}
.m-blue{ color:#007aff;}
.m-blueLight{ color:#00beff;}
.m-skin{ color: #ce6563;}

//輔色系
$black-0: rgba(0, 0, 0, 0.2);
$black-1: rgba(0, 0, 0, 0.3);
$black-2: rgba(0, 0, 0, 0.75);
$light-0:#eeeeee;
$light-1:#dadada;
$light-2:#c2c2c2;
$blueDark:#001b30; 
$gray:#666666;
$a-hot: #ea3718;
.a-gray{ color:#666666;}



//高度
$height-middle: 44px;

//圓角
.rounded-left:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-right:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

//連結色
.c-light {
  color: $m-light;
  &:hover {
    color: lighten($m-light, 15%)
  }
}
.c-blue {
  color: $m-blue;
  &:hover {
    color: lighten($m-blue, 15%)
  }
}
.c-blueLight {
  color: $m-blueLight;
  &:hover {
    color: lighten($m-blueLight, 15%)
  }
}
.c-blueDark {
  color: $m-blue;
  &:hover {
    color: darken($m-blue, 15%)
  }
}
.c-redDark {
  color: #dc3545;
  &:hover{
    color: darken(#dc3545, 15%)
  }
}

.beforeAfter {
  display: block;
  content: "";
  width: 100%;
}

.cursor-p { cursor: pointer;}

body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, white 50%, rgba(0, 0, 0, 0.15) 100%);
}

//-----nav 
.header-nav_bg {
  height: 100px;
  background-color: $black-1;
}

.logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: 128px;
  height: 52px;
}

.nav-bg {
  height: 45px;
  background-color: $black-2;
  border: #797979 1px solid;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-favorite{
  animation: navFavAnimate 2s ease infinite;
}

@keyframes navFavAnimate{ 
  0%,100%{transform:rotate(0);}                      
  10%,30%{transform:rotate(3deg); fill: #e03c3e;}
  20%,40%,60%,80%{transform:rotate(-3deg);}           
}

//marquee 
.marquee-box {
  position: relative;
  height: $height-middle;
  line-height: $height-middle;
  border-bottom: 1px solid $gray;
}

.marquee-icon {
  fill: $gray;
  width: 25px;
  height: 25px;
  position: absolute; 
  text-align: center;
  top: 20%;
  left: 0;
}

.marquee-item {
  width: 100%;
  display: inline-block;
  height: $height-middle;  
  line-height: $height-middle;
  left:$height-middle;
  padding: 0 2.5em;
  cursor: pointer;
  color: $gray;
  &:hover {
    color: darken($gray, 20%);
  }
}

.marquee-item_tit , .marquee-item_con {
  font-weight: 500;
  margin-right: 0.15em;
}

//nav log out
.b-outlineLight {
  border: $light-2 1px solid;
  border-radius: 4px;
  padding: 2px 30px;
  &:hover {
    border-color: lighten($light-1, 20%);
  }
}

.arrow-none::after {
  display: none;
}

.nav-img {
  width: 30px;
  height: 30px;
  line-height: $height-middle;
}

.svg-light {
  fill: $m-light;
  width: 25px;
  height: 25px;
}

.svg-light_a {
  @extend .svg-light;
  &:hover {
    fill: lighten($m-light,100%);
  }
}

//-----nav log in
.nav-main {
  position: relative;
  margin: 0 auto;
  height: 145px;
  .nav-pos {
    background: $black-1;
    bottom: 0;
  }
  &.nav-bg_live {
    background: url(../images/nav-bg_live.png) no-repeat center;
  }
  &.nav-bg_sport {
    background: url(../images/nav-bg_sport.png) no-repeat center;
  }
  &.nav-bg_lottery {
    background: url(../images/nav-bg_lottery.png) no-repeat center;
  }
  &.nav-bg_electronic {
    background: url(../images/nav-bg_electronic.png) no-repeat center;
  }
  &.nav-bg_promotion {
    background: url(../images/nav-bg_promotion.png) no-repeat center;
  }
  &.nav-bg_member {
    background: url(../images/nav-bg_member.png) no-repeat center;
  }
  &.nav-bg_registered {
    background: url(../images/nav-bg_registered.png) no-repeat center;
  }
  &.nav-bg_agent {
    background: url(../images/nav-bg_agent.png) no-repeat center;
  }
  &.nav-bg_mygame {
    background: url(../images/nav-bg_mygame.png) no-repeat center;
  }
  &.nav-bg_app {
    background: url(../images/nav-bg_app.png) no-repeat center;
  }
}

//-----slider 
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-button-prev, .swiper-button-next { 
  transition:0.2s;
  &:hover {
    transform:scale(1.3,1.3);
  }
}	

//-----nav-main 
.nav-pos {
  position: absolute;
  width: 100%;
  bottom: 36px;
  z-index: 1;
  color: $m-light;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, black 50%, rgba(0, 0, 0, 0) 80%);
  &::before {
    @extend .beforeAfter;
    height: 1px;
    background: linear-gradient(to right, $black-1 0%, $light-1 50%, $black-1 100%);
    box-shadow: 0 -1px 2px 0 $black-1;
  }
  &::after {
    @extend .beforeAfter;
    height: 4px;
    background-color: $black-2;
  }
}

.nav-svg {
  fill: $m-light;
  width: 20px;
  height: 20px;
}

.active {
  .nav-svg {
    fill: $m-blueLight;
  }
}

.link-effect {
  position: relative;
  transition: ease-out 0.3s 0.1s;
  &::after {
    height: 2px;
    width: 100%;
    background: $m-light;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s;
  }
  &:hover{
    &::after {
      transform: scaleX(1);
    }
  }
}

.link-animate_blink {
  animation:blink 1s infinite linear;
}
@keyframes blink  {
  0%{
    color:$m-light;
    text-shadow:none;
  }
  20%{
    color:#fff900;
    text-shadow:0 0 7px #fff900,0 0 20px #ff6c00;
  }
  100%{
    color:$m-light;
    text-shadow:none;
  }
}

.active {
  position: relative;
  transition: 0.3s;
  &::after {
    height: 3px;
    width: 100%;
    background: $m-blueLight;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: none;
  }
  &:hover {
    &::after {
      background: lighten($m-blueLight, 15%);
    }
  }
}

//-----modal-checkIn
.checkIn-side_title h5 {
  z-index: 1;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  font-size: 400;
  font-weight: 400;
  letter-spacing: 4px;
  text-shadow: 0 -1px 3px #00000027;
  margin-top: 9rem;
}
.checkIn-side_title h5::before {
  position: absolute;
  content: "";
  top: -3.8rem;
  width: 100%;
  height: 27px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
  opacity: .8;
}
.checkIn-side_slider {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.checkIn-side_slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}
.checkIn-side_slider img {
  width: 900px;
}
@media (max-width:1440px) {
  .checkIn-side_slider img {
    width: 735px;
  }
}
.box-shadow {
  position: absolute;
  left: -16px;
  top: 0;
  bottom: 0;
  width: 6px;
  height: 100%;
  box-shadow: -4px 0 4px #00000017;
}
.checkIn-main_days {
  min-height: 968px;
  text-align: center;
  writing-mode: vertical-lr;
  font-family: 'Questrial', sans-serif;
  font-size: 19px;
  letter-spacing: 3px;
  color: #b7b6b6;
  background-color: #fff;
  position: relative;
}
@media (max-width:1440px) {
  .checkIn-main_days {
    min-height: 788px;
  }
}
.checkIn-main_days::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 1px;
  height: 35%;
  background-color: #b7b6b6;
}
.checkIn-main_days::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 35%;
  background-color: #b7b6b6;
}
.checkIn-main_days span {
  writing-mode: horizontal-tb;
  font-family: 'Questrial', sans-serif;
  font-size: 70px;
  line-height: 60px;
}
.checkIn-main_title {
  width: 100%;
  color: #434343;
  margin-bottom: 1rem;
}
.checkIn-main_title span {
  font-family: 'Questrial', sans-serif;
  font-size: 38px;
  line-height: 35px;
  vertical-align: bottom;
}
.checkIn-main_course {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.course-select {
  border: none;
  height: 52px;
  width: 13.5rem;
  background-color: transparent;
  outline: none;
  font-size: 20px;
}
.checkIn-main_btn {
  width: 15.625rem;
  height: 54px;
  line-height: 52px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: 1px solid $m-skin;
  background-color: $m-skin;
  border-radius: 5px;
  transition: all 0.4s ease;
  margin-bottom: 1rem;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    border: 1px solid $m-skin;
    color: $m-skin;
  }
}
.checkIn-main_date {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  width: 100%;
}
.checkIn-day {
  width: 65px;
  height: 65px;
  line-height: 60px;
  font-family: 'Questrial', sans-serif;
  font-size: 26px;
  text-align: center;
  border-radius: 65px;
  margin-right: 1.4rem;
  color: #ce6563;
  border: 1px solid #f6e6e5;
  background-color: #f6e6e5;
}
.checkIn-day_today {
  color: #fff;
  border: 1px solid #ce6563;
  background-color: #ce6563;
}
.checkIn-day_checked {
  color: #ce6563;
  border: 1px solid #ec8c8a;
  background-color: #ec8c8a;
}

//-----nav-shadow 
.nav-shadow {
  background: url(../images/index-shadow.png) no-repeat center;
  background-size: auto;
  width: 100%;
  height: 36px;
  margin:0 auto;
}
.nav-shadow_pos {
  position: absolute;
  bottom: -36px;
}

//-----footer-logo 
.footer-mt {
  margin-top: 8rem;
}
.footer-index {
  position: relative;
  background-color: #647d8f;
  background: linear-gradient(to right, #3d505d 0%, #647d8f 50%, #3d505d 100%);
  &::before {
    @extend .beforeAfter;
    background: $light-2;
    height: 1px;
  }
  &::after {
    @extend .beforeAfter;
    background: white;
    position: absolute;
    top: 1px;
    height: 1px;
    
  }
}

.footer-box {
  background: $m-light url(../images/x.png) repeat;
  background-size: 2%;
  font-size: 14px;
  color: $black-2;
}

.swiper-container_footerLogo {
  @extend .swiper-container;
  overflow: hidden;
}

.swiper-footerLogo {
  @extend .swiper-container;
  img {
    width: 140px;
  }
}

.go-top {
  width: 60px;
  height: 60px;
  border: 2px solid $m-blue;
  border-radius: 99px;
  background-color: #ffffff80;
  position: fixed;
  right: 50px;
  bottom: 60px;
  z-index: 99;
  transition: width .2s;
  i {
    width: 100%;
    height: 100%;
    color: $m-blue;
  }
  &:hover {
    width: 53px;
  }
}
//-----content-block
.content-block{
  min-height: 630px
}

//-----index-block 
.hotBlock {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.hotBlock-img_area {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  &.hotBlock-img1 {
    background: url(../images/hotgame1.png) no-repeat center;
    background-size: cover;
  }
  &.hotBlock-img2 {
    background: url(../images/hotgame2.png) no-repeat center;
    background-size: cover;
  }
  &.hotBlock-img3 {
    background: url(../images/hotgame3.png) no-repeat center;
    background-size: cover;
  }
  &.hotBlock-img4 {
    background: url(../images/hotgame4.png) no-repeat center;
    background-size: cover;
  }
}

.hotBlock {
  &:hover{
    .hotBlock-img_area{
      filter: brightness(110%);
    }
  }
}

.hotBlock-text_area {
  position: absolute;
  bottom: 55px;
  left: 90px;
  font-size: 20px;
  font-weight: 500;
}

//-----content-block
.block-bg {
  height: 150px;
  &.block-bg_live {
    background: url(../images/title-live.png) no-repeat center;
  }
  &.block-bg_sport {
    background: url(../images/title-sport.png) no-repeat center;
  }
  &.block-bg_lottery {
    background: url(../images/title-lottery.png) no-repeat center;
  }
  &.block-bg_electronic {
    background: url(../images/title-electronic.png) no-repeat center;
  }
  &.block-bg_promotion {
    background: url(../images/title-promotion.png) no-repeat center;
  }
  &.block-bg_registered {
    background: url(../images/title-registered.png) no-repeat center;
  }
}

.block-img {
  width: 100%;
  height: 240px;
  border-radius: 10px; 
  &.block-img_auto {
    background: url(../images/block-comingsoon.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live1 {
    background: url(../images/block-live1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live2 {
    background: url(../images/block-live2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live3 {
    background: url(../images/block-live3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport1 {
    background: url(../images/block-sport1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport2 {
    background: url(../images/block-sport2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport3 {
    background: url(../images/block-sport3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport4 {
    background: url(../images/block-sport4.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery1 {
    background: url(../images/block-lottery1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery2 {
    background: url(../images/block-lottery2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery3 {
    background: url(../images/block-lottery3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery4 {
    background: url(../images/block-lottery4.png) no-repeat center;
    background-size: cover;
  }
  img {
    width: 60%;
  }
  &:hover {
    filter: brightness(120%);
    img {
      @extend .jello;
      @extend .animated;
    }
  }
}

.col-20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.block-eleImg {
  width: 100%;
  height: 180px;
  position: relative;
  &.block-img_electronic  {background: url(../images/block-ele1.png) no-repeat center;}
  &.block-img_electronic2 {background: url(../images/block-ele2.png) no-repeat center;}
  &.block-img_electronic3 {background: url(../images/block-ele3.png) no-repeat center;}
  &.block-img_electronic4 {background: url(../images/block-ele4.png) no-repeat center;}
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $m-dark;
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    .game-favorite {
      margin-right: 5px;
    }
    svg {
      width: 22px;
      height: 22px;
      fill: $a-hot;
      cursor: pointer;
    }
  }
  &:hover {
    filter: brightness(120%);
  }
}

.game-favorite {
  width: 22px;
  height: 22px; 
  vertical-align: bottom;
}

.game-favorite > input[type=checkbox], .svg-starfill { display: none;}
.game-favorite > input[type=checkbox]:checked ~ .svg-star     { display: none;}
.game-favorite > input[type=checkbox]:checked ~ .svg-starfill { display: block;}

.game-favorite_frame {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 42px;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  fill: #fff;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
  background: #e03c3e;
  &:hover {
    background: lighten(#e03c3e,10%);
  }
}
.game-favorite_pos {
  top: 34px;
}

.app-link {
  position: absolute;
  z-index: 2;
  right: 23px;
  bottom: 8px;
  i {
    background-color: #0279fe;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    font-size: 22px;
    &:hover {
      background-color:darken($m-blue, 15%);
      color:darken(#fff, 15%);
    }
  }
}

.live-progress {
  width: 55%; 
  font-size:16px; 
  text-align:right;
  padding-right: 15px;
}

.logo-game_text {
  text-align: center;
  line-height: 50px;
  color: $m-light;
}
.logo-game_1 {
  background: url(../images/logo/logo1.png) no-repeat center;
}
.logo-game_2 {
  background: url(../images/logo/logo2.png) no-repeat center;
}
.logo-game_3 {
  background: url(../images/logo/logo7.png) no-repeat center;
}
.logo-game_4 {
  background: url(../images/logo/logo13.png) no-repeat center;
}
.logo-game {
  background-color:#e0e0e0;
  background-size: 143px 48px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #666; 
}
.logo-game:hover {
  background-color:#ebebeb;
  border: 1px solid #ffffff;
}
.logo-game {
  input {
    display: none;
  }
}

//-----member-block
.light-pill {
  background:$black-2;
  li{
    line-height: 40px;
  }
}

.member-pill_content {
  background: $light-0;
  border: 1px solid $light-2;
  .active::after {
    display: none;
  }
}

.member-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: solid 1px $light-2;
  &:last-child() {
    border-bottom: solid 1px $light-2;
  }
}

.member-card_header {
  padding: .75rem 1.25rem;
  &:hover {
    background: $m-light;
    transition: 0.3s;
  }
  button{
    width: 100%;
    &.collapsed {
      i{
        transform: rotate(-180deg);
        transition: 0.4s;
      }
    }
  }
}

.member-card_body {
  padding: 1.25rem 3rem;
}

.member-button {
  padding: .5rem 4.125rem;
}

.py-06 {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.login-input_i {
  position: absolute;
  top: 30%;
  left: 85%;
  @extend .cursor-p;
}

.member-option{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 49px, 0);
  z-index: 1;
  cursor: pointer;
}

.member-option_icon {
  &:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: fixed;
    left: 15px;
    padding-top: 3px;
  }
}

.member-i_inside {
  position: absolute;
  left:36%;
  top: 35%;
}

.was-validated .form-control:invalid ~ .member-i_inside {
  top: 20%;
}

.member-transfer_svg {
  width: 16px;
  height: 24px;
  fill: $m-blue;
}

.modal-title_svg {
  width: 22px;
  height: 22px; 
}

.wallet-form {
  &:hover {
    background: $m-light;
  }
}

//store
.store-logo {
  width: 45px;
  height: 45px;
}

//switch
#switch{
  width: 75px;
  height: 40px;
}

.toggle{
  position: relative;
  border: 1px solid $m-dark;
  border-radius: 4px;
  transition: border-color .6s  ease-out;
}

.toggle{
  &.toggle-on {
    border: 1px solid rgba(0, 122, 255, 0);
    transition: all .5s .15s ease-out;
  }
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #464646;
  border-radius: 4px; 
  cursor: pointer;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on {
  .toggle-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $m-blue;
    transition: all .2s .2s, right .3s;
  }
}

.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  user-select: none;  
  color: rgba(0,0,0,0);
}

.toggle-text-off{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.toggle-on {
  .toggle-text-on {
    color: #fff;
    transition: color .3s .15s ;
  }
  .toggle-text-off{
    color: rgba(0,0,0,0);
  }
}

//-----promotion-block
.promotion-block {
  background-color: #021125;
  width: 100%;
  box-shadow: 0px 1px 5px 0px $black-2;
} 

.promotion-block_img {
  background: url(../images/promotion.jpg) no-repeat left top;
  background-size: 100%;
  width: 65%;
  height: 234px;
}

.promotion-block_text {
  background: url(../images/promotion-block_bg.png) no-repeat 300px 0;
  background-size: contain;
  width: 35%;
  height: 234px;
}

.promotion-block_tag {
  background: linear-gradient(to right, #394c66 0%, #32547f 100%);
  border-bottom-right-radius: 10px;
}

.modal-header_promotion {
  background: url(../images/promotion.jpg) no-repeat center;
  background-size: 100%;
  width: 100%;
  height: 235px;
}

//-----registered
.registered-qrcode {
  background: url(../images/register-qrcode.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.font-14 {
  font-size: .875rem;
}

.font-20 {
  font-size: 1.25rem;
}

.checkbox-border:after {
  border: $m-blue solid 1px;
  border-radius: 3px;
}

.icon-inside {
  position: absolute;
  left: 65%;
  top: 30%;
}

.was-validated .form-control:invalid ~ .icon-inside {
  top: 20%;
}

//-----agent
.agent-img {
  background: url(../images/agent.png) no-repeat top right;
  background-size: 100%;
  height: 500px;
}

.agent-text {
  background: url(../images/agent-text.png) no-repeat;
  background-size: 100%;
  height: 150px;
  width: 40%;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 1;
}

.agent-search {
  border: 1px solid $black-0;
  border-radius: 99px;
  box-shadow: 0px 0px 4px 0px darken($m-light, 10%);
  height: 40px;
  &:hover {
    border: 1px solid lighten($m-light, 15%);
    box-shadow: 0px 0px 4px 0px $black-0;
    .agent-search_icon{
      fill: #666;
    }
  }
}

.agent-search_icon {
  width: 27px;
  height: 27px;
}

.agent-fixed {
  position: fixed;
  left: 1%;
  bottom: 5%;
  z-index: 1;
  background: url(../images/agent-fixed.png) no-repeat center;
  background-size: 100%;
  width: 100px;
  height: 100px;
  &:hover {
    filter: brightness(110%);
    .agent-fixed_bg {
      transition:all .5s ease-out;
      display: block;
    }
  }
}

.agent-fixed_bg {
  display: none;
  position: absolute;
  left: 1%;
  bottom: 100%;
  z-index: 1;
  background: url(../images/agent-fixed_bg.png) no-repeat center bottom;
  background-size: 100%;
  width: 100px;
  height: 170px;
}

.agent-link {
  width: 100px;
  height: 75px;
  &:hover {
    text-decoration:underline;
  }
}

.servicer-link {
  width: 100px;
  height: 80px;
  &:hover {
    text-decoration:underline;
  }
}

//-----mygame
.mygame-title_svg {
  width: 23px;
  height: 23px;
  fill: $gray;
}

.mygame-frame {
  width: 100%;
  border: 1px solid #b3b3b3;
  background-clip: $m-light;
  border-radius:.625rem;
  position: relative;
}

.mygame-frame_img {
  background: url(../images/block-ele3.png) no-repeat center;
  background-color: #e2e2e2;
  background-size: contain; 
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 145px;
}

.mygame-frame_content {
  width: 368px;
}

.mygame-frame_favorite {
  position: absolute;
  z-index: 2;
  top: -1px;
  right: -1px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  display: flex;
  justify-content: center;
  border-top-right-radius: .625rem;
  border-bottom-left-radius: 15px;
  fill: #fff;
  background: #e03c3e;
  &:hover {
    background: darken(#e03c3e,10%);
  }
}

//-----hot game
.hotgame {
  position: absolute;
  color: $a-hot;
  left: 15px;
  top: -25px;
}

.hotgame-ele {
  position: absolute;
  color: $a-hot;
  left: 23px;
  top: -23px;
}

//-----app download
.isotope-box {
  width: 100%;
}
.isotope-item {
  background-color: #FFF;
  border: 1px solid $light-1;
  border-radius: 10px;
  width: 22.3%;
  margin: 1%;
}
.isotope-img {
  background: url(../images/app-QRcode.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 250px;
}



