//APP下載
.row
    .col-12.m-gray.mt-5
        h5.m-grayLight.d-flex.align-content-center
            svg.member-title_svg.mr-2(viewbox='0 0 512 512')
                path(d='M416.8,451.4V38c0-20.9-19.8-38-44.4-38H117C92.6,0,72.7,17,72.7,38v413.5c0,20.9,19.8,38,44.4,38h255.4\
                C396.9,489.4,416.8,472.4,416.8,451.4z M101.3,88.1h286.8v278.2H101.3C101.3,366.3,101.3,88.1,101.3,88.1z M117,24.5h255.4\
                c8.6,0,15.8,6,15.8,13.5v25.6H101.3V38C101.3,30.5,108.4,24.5,117,24.5z M101.3,451.4v-60.7h286.8v60.7c0,7.4-7,13.5-15.8,13.5H117\
                C108.4,464.9,101.3,458.9,101.3,451.4z')
                path(d='M273.8,416.6h-58c-7.9,0-14.4,5.5-14.4,12.3s6.4,12.3,14.4,12.3h58c7.9,0,14.4-5.5,14.4-12.3\
                C288.1,422.1,281.7,416.6,273.8,416.6z')
            |APP下載
//廠商logo
.row
    .col-12.m-gray
        h6.d-flex.align-content-center.mt-4
            svg.classification-svg.mr-1(viewbox='0 0 512 512')
                path(d='M460.3,340.7l35-35c22.2-22.2,22.2-58.3,0-80.4c-6.8-6.8-15-11.6-23.7-14.2c7.1-9.7,11-21.4,11-33.6\
                c0-15.2-5.9-29.5-16.7-40.2c-10.7-10.7-25-16.7-40.2-16.7c-0.6,0-1.3,0-1.9,0c0.5-15.2-5-30.5-16.6-42.1\
                c-11.6-11.6-26.9-17.1-42.1-16.6c0-0.6,0-1.3,0-1.9c0-15.2-5.9-29.5-16.7-40.2c-22.2-22.2-58.3-22.2-80.4,0l-12,12l-12.1-12.1\
                C233.2,8.9,218.9,3,203.7,3s-29.5,5.9-40.2,16.7c-11.6,11.6-17.1,26.9-16.6,42.1c-0.6,0-1.3,0-1.9,0c-15.2,0-29.5,5.9-40.2,16.7\
                c-11.6,11.5-17.2,26.8-16.7,42c-0.6,0-1.3,0-1.9,0c-15.2,0-29.5,5.9-40.2,16.7c-10.7,10.7-16.7,25-16.7,40.2\
                c0,12.3,3.9,23.9,11,33.6c-8.9,2.7-17,7.5-23.7,14.2c-22.1,22.1-22.2,58.1-0.1,80.3c0.1,0.1,0.1,0.1,0.2,0.2l35.1,35.1\
                c0,0.1,0.1,0.1,0.1,0.2c2.1,2.1,4.4,4,6.7,5.8L48.2,357c-10.1,10.1-15.2,23.8-14.5,38.7C34.5,410,40.6,423.6,51,434l59.3,59.3\
                c11,11,25.5,16.5,39.9,16.5s28.9-5.5,39.9-16.5l27.6-27.6c12.6,2.7,25.4,4.1,38.2,4.1s25.6-1.4,38.2-4.1l27.6,27.6\
                c11,11,25.5,16.5,39.9,16.5c14.5,0,28.9-5.5,39.9-16.5L461,434c22-22,24.5-55.3,5.6-74.3L454,347.1l6.2-6.2\
                C460.2,340.8,460.3,340.8,460.3,340.7z M184.1,32.3c5.3-5.3,12.3-8.1,19.7-8.1c7.4,0,14.4,2.9,19.7,8.1l49.7,49.9\
                c10.8,10.8,10.8,28.4,0,39.2c-5.3,5.3-12.3,8.1-19.7,8.1c-7.4,0-14.4-2.9-19.7-8.1L184,71.5l-0.1-0.1\
                C173.3,60.7,173.3,43.1,184.1,32.3z M122.8,93.7c5.3-5.3,12.3-8.1,19.7-8.1c7.4,0,14.4,2.9,19.7,8.1c0,0,0,0,0.1,0l49.7,49.7\
                l0.1,0.1l12.4,12.4c5.3,5.3,8.1,12.3,8.1,19.7c0,7.4-2.9,14.4-8.1,19.7s-12.3,8.1-19.7,8.1c-7.4,0-14.4-2.9-19.7-8.1\
                c-0.1-0.1-0.1-0.1-0.2-0.2l-12.3-12.3c0,0,0,0,0-0.1l-49.9-49.9c0,0,0,0-0.1-0.1C111.8,122,111.9,104.4,122.8,93.7z M60.4,156\
                c5.3-5.3,12.3-8.1,19.7-8.1c7.4,0,14.4,2.9,19.7,8.1l50,50c10.8,10.8,10.7,28.4,0,39.2c-5.3,5.3-12.3,8.1-19.7,8.1\
                c-7.4,0-14.4-2.9-19.7-8.1c-0.1-0.1-0.1-0.1-0.2-0.2l-49.6-49.5c-0.1-0.1-0.1-0.1-0.2-0.2c-5.3-5.3-8.1-12.3-8.1-19.7\
                C52.3,168.2,55.2,161.3,60.4,156z M31.4,286.9c-0.1-0.1-0.1-0.1-0.2-0.2c-10.8-10.8-10.8-28.4,0-39.2c5.3-5.3,12.3-8.1,19.7-8.1\
                c7.4,0,14.4,2.9,19.7,8.1l37.4,37.4c10.8,10.8,10.8,28.4,0,39.2c-5.3,5.3-12.3,8.1-19.7,8.1c-1.3,0-2.7-0.1-4-0.3\
                c-0.1,0-0.2,0-0.3,0c-5.8-0.9-11-3.5-15.1-7.7l-0.1-0.1L31.4,286.9z M442.9,415.4L382.4,476c-10.2,10.2-26.9,10.2-37.2,0l-16.7-16.7\
                c21.6-9.2,41.5-22.6,58.3-39.4l48.8-48.8l12.9,12.9C455.5,390.8,452.8,405.5,442.9,415.4z')
            |選擇遊戲廠商
        hr
//廠商logo-content
.row.mx-0
    .col-6.col-md-4.px-1.mb-3
        .border.border-lightBlue.rounded.shadow-sm
            a.text-center(href="https://www.abgapp88.net/" target="_blank") 
                .logo-1.h-55.my-2
                h5.m-dark
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                .link-lightBlue 歐博 真人視訊
                hr
                p.m-grayLight.small.mb-2 使用者名 S8帳號+yn3
                p.m-grayLight.small 密碼 您的使用者密碼
    .col-6.col-md-4.px-1.mb-3
        .border.border-lightBlue.rounded.shadow-sm
            a.text-center(href="https://www.abgapp88.net/" target="_blank") 
                .logo-1.h-55.my-2
                h5.m-dark
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                .link-lightBlue 歐博 真人視訊
                hr
                p.m-grayLight.small.mb-2 使用者名 S8帳號+yn3
                p.m-grayLight.small 密碼 您的使用者密碼
    .col-6.col-md-4.px-1.mb-3
        .border.border-lightBlue.rounded.shadow-sm
            a.text-center(href="https://www.abgapp88.net/" target="_blank") 
                .logo-1.h-55.my-2
                h5.m-dark
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                .link-lightBlue 歐博 真人視訊
                hr
                p.m-grayLight.small.mb-2 使用者名 S8帳號+yn3
                p.m-grayLight.small 密碼 您的使用者密碼