.row
    .col-6.mb-4.pr-0
        a.mainBlock.link-lightBlue(href="service.html")
            .mainBlock-cs
            |客服中心
    .col-6.mb-4.pl-0
        a.mainBlock.link-lightBlue(href="service.html")
            .mainBlock-agent
            |專屬代理
    .col-6.mb-4.pr-0
        a.mainBlock.link-lightBlue(href="live.html")
            .mainBlock-live
            |真人視訊
    .col-6.mb-4.pl-0
        a.mainBlock.link-lightBlue(href="sport.html")
            .mainBlock-sport
            |體育賽事
    .col-6.mb-4.pr-0
        a.mainBlock.link-lightBlue(href="electronic.html")
            .mainBlock-ele
            |電子遊戲
    .col-6.mb-4.pl-0
        a.mainBlock.link-lightBlue(href="lottery.html")
            .mainBlock-lottery
            |彩票遊戲