.row
    .col-12.mt-5
        h5.m-grayLight
            i.fas.fa-globe-asia.mr-1
            |選擇您的語系
        hr
        .language-c.mb-3.link-lightGray 简体
        .language-h.mb-3.link-lightGray 繁體
        .language-v.mb-3.link-lightGray Tiếng Việt