.row
    .col-12.m-gray.mt-48.px-4
        .d-flex.justify-content-between.mt-5
            h6.d-flex.align-items-center.mb-0
                svg.member-title_svg.mr-1(viewbox='0 0 512 512')
                    path(d='M395.9,0h-57.2v24.9h60c36.9,0,67,30,67,67v328.2h0.1c0,36.9-30,67-67,67h-154H240H108.6c-37,0-67-30.2-67-67V91.9\
                    c0-37,30.2-67,67-67h60.1V0h-57.2C59,0,16.4,42.7,16.4,95.1V417c0,52.5,42.7,95.1,95.1,95.1h128.9h4.7h150.8\
                    c52.4,0,95.1-42.6,95.1-95.1V95.1C490.9,42.7,448.4,0,395.9,0z')
                    path(d='M-528.9,364.3H-399v-74.2h-45.1C-487.6,290.1-523.3,322.7-528.9,364.3z')
                    path(d='M253.6,262.8c-39.9,0-72.4-32.5-72.4-72.4s32.5-72.4,72.4-72.4s72.4,32.5,72.4,72.4S293.5,262.8,253.6,262.8z M253.6,142\
                    c-26.7,0-48.4,21.7-48.4,48.4s21.7,48.4,48.4,48.4s48.4-21.7,48.4-48.4S280.3,142,253.6,142z')
                    path(d='M391.7,394H115.5l0.8-12.8c3.5-55.7,50-99.3,105.9-99.3H285c56,0,102.5,43.6,105.9,99.4L391.7,394z M142.1,370h223\
                    c-8.2-36.8-41.2-64.1-80.1-64.1h-62.8C183.4,305.9,150.4,333.2,142.1,370z')
                |123456789maya
            h6.d-flex.align-items-center.mb-0
                svg.member-title_svg.mr-1(viewbox='0 0 512 512')
                    path(d='M275.1,242.9h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1c0-7.2-5.9-13.1-13.1-13.1\
                    h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1s-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8s24.6,54.8,54.8,54.8h38\
                    c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1s5.9,13.1,13.1,13.1h36.2v27.2\
                    c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0c29.8-0.4,54-24.8,54-54.8\
                    C329.7,267.4,305.2,242.9,275.1,242.9z')
                    path(d='M437.1,74.9C388.7,26.6,324.4,0,256,0S123.3,26.6,74.9,74.9S0,187.6,0,256s26.6,132.7,74.9,181.1S187.6,512,256,512\
                    s132.7-26.6,181.1-74.9S512,324.4,512,256S485.4,123.3,437.1,74.9z M256,485.9C129.3,485.9,26.1,382.7,26.1,256S129.3,26.1,256,26.1\
                    S485.9,129.3,485.9,256S382.7,485.9,256,485.9z')
                |12,345,678.99
                i.fas.fa-redo.link-lightBlue.pl-2
        hr
        