.row
    .col-12.m-gray.mt-5
        h5.d-flex.align-content-center
            svg.member-title_svg.mr-2(viewbox='0 0 512 512')
                path(d='M481.2,394.4v54.5c0,36.3-29.6,33.7-65.7,33.7H96.6c-36.3,0-65.7,2.4-65.7-33.7v-54.7c0-8.1-6.5-14.7-14.7-14.7\
                S1.5,386,1.5,394.2v54.7c0,52.5,42.7,63.1,95.1,63.1h318.8c52.5,0,95.1-10.7,95.1-63.1v-54.5c0-8.1-6.5-14.7-14.7-14.7\
                C487.7,379.7,481.2,386.3,481.2,394.4z')
                path(d='M275.1,184.5h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1s-5.9-13.1-13.1-13.1h-35\
                V74.4c0-7.2-5.9-13.1-13.1-13.1c-7.2,0-13.1,5.9-13.1,13.1V101h-6c-30.2,0-54.8,24.6-54.8,54.8s24.6,54.8,54.8,54.8h38\
                c15.8,0,28.7,12.9,28.7,28.7S290.8,268,275,268h-68.3c-7.2,0-13.1,5.9-13.1,13.1s5.9,13.1,13.1,13.1h36.2v27.2\
                c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0c29.8-0.4,54-24.8,54-54.8\
                C329.7,209,305.2,184.5,275.1,184.5z')
                path(d='M411.4,396.1H100.6l-4.5-4.8C56.1,348,34,291,34,230.8C34,103.3,133.6-0.5,256-0.5s222,103.8,222,231.3\
                c0,60.2-22.1,117.2-62.2,160.5L411.4,396.1z M113.9,366.1h284.2C430.3,329,448,281.2,448,230.8c0-111-86.1-201.3-192-201.3\
                S64,119.8,64,230.8C64,281.2,81.7,329,113.9,366.1z')
            |轉點
        //member-pill_content
        .tab-pane.fade.show.py-4#pills-transfer 
            //content
            #accordion2.member-accordion
                //轉點_轉入遊戲
                .member-card
                    .member-card_header#headingOne-transfer
                        h5.mb-0
                            button.btn.link-lightBlue.collapsed.d-flex.justify-content-between.align-items-center.px-0(data-toggle='collapse', data-target='#collapseOne-transfer', aria-expanded='true')
                                | 轉入遊戲
                                i.fas.fa-angle-up.fa-lg
                    #collapseOne-transfer.collapse(data-parent='#accordion')
                        .member-card_body
                            form.py-3
                                //查看遊戲額度
                                .form-group.row.align-items-center
                                    .col-12.mb-3
                                        // 查看遊戲額度 Modal
                                        button.btn.btn-outline-primary.d-flex.align-items-center.justify-content-center.w-100(type='button', data-toggle='modal', data-target='#exampleModalCenter')
                                            svg.member-transfer_svg.mr-2(viewbox='0 0 512 512')
                                                path(d='M275.1,242.9h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1\
                                                c0-7.2-5.9-13.1-13.1-13.1h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1s-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8\
                                                s24.6,54.8,54.8,54.8h38c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1\
                                                c0,7.2,5.9,13.1,13.1,13.1h36.2v27.2c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0\
                                                c29.8-0.4,54-24.8,54-54.8C329.7,267.4,305.2,242.9,275.1,242.9z')
                                                path(d='M437.1,74.9C388.7,26.6,324.4,0,256,0S123.3,26.6,74.9,74.9S0,187.6,0,256s26.6,132.7,74.9,181.1\
                                                S187.6,512,256,512s132.7-26.6,181.1-74.9S512,324.4,512,256S485.4,123.3,437.1,74.9z M256,485.9C129.3,485.9,26.1,382.7,26.1,256\
                                                S129.3,26.1,256,26.1S485.9,129.3,485.9,256S382.7,485.9,256,485.9z')
                                            |遊戲額度
                                //選擇遊戲
                                .form-group.row.align-items-center
                                    .col-12.mb-3
                                        button.btn.btn-outline-primary.rounded-right.justify-content-center.w-100(type='button', onclick="memberBtn()") 
                                            i.fas.fa-plus.mr-2
                                            |選擇遊戲
                                        select#showSelect.d-none.custom-select.w-100.py-2.px-0.member-option(multiple, size="4")
                                            option#memberSelectForIcon.px-5.py-2(value='1', onclick="memberSelect()") 沙龍
                                            option#memberSelectForIcon2.px-5.py-2(value='2', onclick="memberSelect2()") 賓果賽車
                                            option#memberSelectForIcon3.px-5.py-2(value='3', onclick="memberSelect3()") 歐博
                                            option#memberSelectForIcon4.px-5.py-2(value='4', onclick="memberSelect4()") 打打魚遊戲
                                            option#memberSelectForIcon5.px-5.py-2(value='5', onclick="memberSelect5()") Lottery
                                //沙龍
                                .form-group.row
                                    .col-12 
                                        .border.border-danger.rounded.py-2
                                            //沙龍-額度
                                            .col-12.d-flex.align-items-center.my-4
                                                i.member-close.fas.fa-times-circle.fa-lg.text-danger.mr-2
                                                h6.mb-0.mr-2 沙龍額度 1000
                                                i.fas.fa-redo.link-lightBlue
                                            //沙龍-请输入轉入點數
                                            .col-12.mb-4
                                                input.form-control.w-40(type='text', placeholder='请输入轉入點數')
                                            //沙龍-轉入沙龍
                                            .col-12.mb-4
                                                button.btn.btn-primary.d-flex.align-items-center.justify-content-center.w-100(type='submit') 
                                                    svg.member-transfer_svgFill.mr-2(viewbox='0 0 512 512')
                                                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                                    |轉入沙龍
                                //賓果賽車
                                .form-group.row
                                    .col-12 
                                        .border.border-danger.rounded.py-2
                                            //賓果賽車-額度
                                            .col-12.d-flex.align-items-center.my-4
                                                i.member-close.fas.fa-times-circle.fa-lg.text-danger.mr-2
                                                h6.mb-0.mr-2 賓果賽車額度 1000
                                                i.fas.fa-redo.link-lightBlue
                                            //賓果賽車-请输入轉入點數
                                            .col-12.mb-4
                                                input.form-control.w-40(type='text', placeholder='请输入轉入點數')
                                            //賓果賽車-轉入賓果賽車
                                            .col-12.mb-4
                                                button.btn.btn-primary.d-flex.align-items-center.justify-content-center.w-100(type='submit') 
                                                    svg.member-transfer_svgFill.mr-2(viewbox='0 0 512 512')
                                                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                                    | 轉入賓果賽車
                                //btn 
                                .row
                                    .col-12.mt-4.mb-5.d-flex.align-items-center.justify-content-around
                                            button.btn.btn-primary.d-flex.align-items-center.justify-content-center.w-45(type='submit', value='Submit') 
                                                svg.member-transfer_svgFill.mr-2(viewbox='0 0 512 512')
                                                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                                |全部轉入
                                            button.btn.btn-outline-secondary.w-45(type='reset', value='Reset') 重填
                //轉點_轉出錢包
                .member-card
                    .member-card_header#headingOne-transfer2
                        h5.mb-0
                            button.btn.link-lightBlue.collapsed.d-flex.justify-content-between.align-items-center.px-0(data-toggle='collapse', data-target='#collapseOne-transfer2', aria-expanded='true')
                                | 轉出錢包
                                i.fas.fa-angle-up.fa-lg
                    #collapseOne-transfer2.collapse(data-parent='#accordion')
                        .member-card_body
                            form.py-3
                                //全部點數轉出錢包
                                .form-group.row.align-items-center
                                    .col-12.mb-3
                                        // 全部點數轉出錢包 Modal
                                        button.btn.btn-outline-primary.d-flex.align-items-center.justify-content-center.w-100(type='button', data-toggle='modal', data-target='#exampleModalCenter2')
                                            svg.member-transfer_svg.mr-2(viewbox='0 0 512 512')
                                                path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                            |全部點數轉出錢包
                                //選擇遊戲
                                .form-group.row.align-items-center
                                    .col-12.mb-3
                                        button.btn.btn-outline-primary.rounded-right.justify-content-center.w-100(type='button', onclick="memberBtn2()") 
                                            i.fas.fa-plus.mr-2
                                            |選擇遊戲
                                        select#showSelect2.d-none.custom-select.w-100.py-2.px-0.member-option(multiple, size="4")
                                            option#memberSelectForIcon12.px-5.py-2(value='1', onclick="memberSelect12()") 沙龍
                                            option#memberSelectForIcon22.px-5.py-2(value='2', onclick="memberSelect22()") 賓果賽車
                                            option#memberSelectForIcon32.px-5.py-2(value='3', onclick="memberSelect32()") 歐博
                                            option#memberSelectForIcon42.px-5.py-2(value='4', onclick="memberSelect42()") 打打魚遊戲
                                            option#memberSelectForIcon52.px-5.py-2(value='5', onclick="memberSelect52()") Lottery
                                //沙龍
                                .form-group.row
                                    .col-12
                                        .border.border-danger.rounded.py-2
                                            //沙龍-額度
                                            .col-12.d-flex.align-items-center.my-4
                                                i.member-close.fas.fa-times-circle.fa-lg.text-danger.mr-2
                                                h6.mb-0.mr-2 沙龍額度 1000
                                                i.fas.fa-redo.link-lightBlue
                                            //沙龍-请输入轉入點數
                                            .col-12.mb-4
                                                input.form-control.w-40(type='text', placeholder='请输入轉入點數')
                                            //沙龍-轉入錢包
                                            .col-12.mb-4
                                                button.btn.btn-primary.d-flex.align-items-center.justify-content-center.w-100(type='submit') 
                                                    svg.member-transfer_svgFill.mr-2(viewbox='0 0 512 512')
                                                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                                    |轉入錢包
                                //btn 
                                .row
                                    .col-12.mt-4.mb-5.d-flex.align-items-center.justify-content-around
                                            button.btn.btn-primary.d-flex.align-items-center.justify-content-center.w-45(type='submit', value='Submit') 
                                                svg.member-transfer_svgFill.mr-2(viewbox='0 0 512 512')
                                                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                                                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                                                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                                                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                                                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                                                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                                                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                                                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                                                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                                                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                                                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                                                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                                                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                                                |全部轉入
                                            button.btn.btn-outline-secondary.w-45(type='reset', value='Reset') 重填

// 查看遊戲額度 Modal
.modal.fade#exampleModalCenter(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header.align-items-center
                h5#exampleModalLongTitle.modal-title.d-flex.align-items-center 
                    svg.modal-title_svg.mr-2(viewbox='0 0 512 512')
                        path(d='M275.1,242.9h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1\
                        c0-7.2-5.9-13.1-13.1-13.1h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1s-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8\
                        s24.6,54.8,54.8,54.8h38c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1\
                        c0,7.2,5.9,13.1,13.1,13.1h36.2v27.2c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0\
                        c29.8-0.4,54-24.8,54-54.8C329.7,267.4,305.2,242.9,275.1,242.9z')
                        path(d='M437.1,74.9C388.7,26.6,324.4,0,256,0S123.3,26.6,74.9,74.9S0,187.6,0,256s26.6,132.7,74.9,181.1\
                        S187.6,512,256,512s132.7-26.6,181.1-74.9S512,324.4,512,256S485.4,123.3,437.1,74.9z M256,485.9C129.3,485.9,26.1,382.7,26.1,256\
                        S129.3,26.1,256,26.1S485.9,129.3,485.9,256S382.7,485.9,256,485.9z')
                    | 遊戲額度
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times(aria-hidden='true')
            .modal-body
                button.btn.btn-outline-primary.px-5.mb-3
                    i.fas.fa-redo.mr-2
                    | 重新整理
                table.table.table-bordered
                    thead
                        tr
                            th(scope='col') 遊戲
                            th(scope='col', class="w-50") 
                                .d-flex
                                    span.mr-auto 餘額
                    tbody
                        tr
                            td 沙龍
                            td 
                                .d-flex
                                    span.mr-auto 12345678.99
                                    i.fas.fa-redo.link-lightBlue.c.px-3.align-self-center
                        tr
                            td 賓果賽車
                            td 
                                .d-flex
                                    span.mr-auto 1000
                                    i.fas.fa-redo.link-lightBlue.c.cursor-p.px-3.align-self-center

// 全部點數轉出錢包 Modal
.modal.fade#exampleModalCenter2(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header.align-items-center
                h5#exampleModalLongTitle.modal-title.d-flex.align-items-center  
                    svg.modal-title_svg.mr-2(viewbox='0 0 512 512')
                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                    | 點數轉出錢包中
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times(aria-hidden='true')
            .modal-body
                table.table.table-bordered
                    thead
                        tr
                            th(scope='col') 遊戲
                            th(scope='col', class="w-50") 
                                .d-flex
                                    span.mr-auto 餘額
                                    i.fas.fa-redo.fa-spin.link-lightBlue.px-3.align-self-center
                    tbody
                        tr
                            td 沙龍
                            td 
                                .d-flex
                                    span.mr-auto 12345678.99
                                    i.fas.fa-redo.fa-spin.link-lightBlue.px-3.align-self-center
                        tr
                            td 賓果賽車
                            td 
                                .d-flex
                                    span.mr-auto 1000
                                    i.fas.fa-redo.fa-spin.link-lightBlue.px-3.align-self-center.hover
