.container-fluid.fixed-top.bg-dark.nav-height
    .nav-bg
        .row
            //login
            .col-3
                a(href="#").nav-login
                    .nav-login_close
                    svg#svg-hide(viewbox='0 0 512 512')
                        path(d='M250,497.3c0,8.1,6.5,14.7,14.7,14.7h133.5c52.4,0,95.1-42.6,95.1-95.1V95.1c0-52.4-42.6-95.1-95.1-95.1H262.5\
                        c-8.1,0-14.7,6.5-14.7,14.7s6.5,14.7,14.7,14.7h135.7c36.2,0,65.7,29.4,65.7,65.7v321.8c0,36.2-29.4,65.7-65.7,65.7H264.7\
                        C256.6,482.7,250,489.2,250,497.3z')
                        path(d='M376.7,245.7l-93.2-93.2c-5.8-5.8-15-5.8-20.8,0s-5.8,15,0,20.8l68.2,68.2H33.4c-8.1,0-14.7,6.5-14.7,14.7\
                        s6.5,14.7,14.7,14.7H331L262.8,339c-5.8,5.8-5.8,15,0,20.8c2.8,2.8,6.6,4.3,10.3,4.3s7.5-1.4,10.3-4.3l93.2-93.2\
                        C382.5,260.7,382.5,251.3,376.7,245.7z')
            //logo
            .col-6
                a(href="index.html").nav-logo
            //menu
            .col-3
                a(href="#").nav-menuWrapper.ml-auto
                    .nav-menu
            //menu content
            .col-12.nav-invisible_menu.text-white
                .nav-menu_content.m-3
                    a(href="logout-language.html").link-darkWhite.px-2
                        i.fas.fa-globe-asia.mr-2
                        |語系
            //login & registered content
            .col-12.nav-invisible_login.px-0
                //tab nav
                ul#myTab.nav.nav-tabs.nav-fill.my-4(role='tablist').fadeIn.animated
                    li.nav-item
                        a#home-tab.nav-link.a-grayBlue.active(data-toggle='tab', href='#login', role='tab') 登入
                    li.nav-item
                        a#profile-tab.nav-link.a-grayBlue(data-toggle='tab', href='#registered', role='tab') 註冊
                #myTabContent.tab-content.fadeIn.animated
                    //form 登入
                    #login.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
                        form.needs-validation(novalidate)
                            .form-row.mx-3
                                .col-12.mb-4
                                    input#validationCustom01.form-control.pl-45.py-2(type='text', placeholder='請輸入帳號', required)
                                    .login-icon_account
                                        i.fas.fa-user.text-secondary
                                .col-12.mb-4
                                    input#input-password_login.form-control.login-icon_password.pl-45.py-2(type='password', placeholder='請輸入密碼', required)
                                    .login-icon_account
                                        i.fas.fa-lock.text-secondary
                                    i#i-password_login.far.fa-eye-slash.fa-lg.link-lightBlue.login-input_i.pl-3.d-flex(onclick="hideShowPswLogin()")
                                .col-12.mb-4
                                    input#validationCustom02.form-control.py-2(type='text', placeholder='請輸入驗證碼', required)
                                    .login-input_img
                                .col-12.mb-4
                                    .text-center
                                        a.c-blue(href="#", data-toggle='modal', data-target='#forgetModalCenter', data-dismiss='modal', aria-label='Close', title="忘記密碼") 忘記密碼 ?
                                button.btn.btn-primary.btn-block.mb-5(type='submit') 登入
                    //form 註冊
                    #registered.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 
                        form.needs-validation(novalidate)
                            //帐号
                            .form-row.mx-3
                                .col-12.mb-4
                                    input.form-control.pl-45.py-2(type='text', placeholder='請輸入帐号' required)
                                    .login-icon_account
                                        i.fas.fa-user.text-secondary
                            //密码
                            .form-row.mx-3
                                .col-12.mb-4
                                    input#input-password_registered.form-control.pl-45.py-2(type='password', placeholder='請輸入密碼' required)
                                    .login-icon_account
                                        i.fas.fa-lock.text-secondary
                                    i#i-password_registered.far.fa-eye-slash.fa-lg.link-lightBlue.login-input_i.pl-3.d-flex(onclick="hideShowRegistered()")
                                    .invalid-feedback 請輸入密碼

                            //确认密码
                            .form-row.mx-3
                                .col-12.mb-4
                                    input#input-password_confirm.form-control.pl-45.py-2(type='password', placeholder='請輸入確認密碼' required)
                                    .login-icon_account
                                        i.fas.fa-lock.text-secondary
                                    i#i-password_confirm.far.fa-eye-slash.fa-lg.link-lightBlue.login-input_i.pl-3.d-flex(onclick="hideShowConfirm()")
                                    .invalid-feedback 請輸入密碼
                            //通訊軟體
                            .form-row.mx-3
                                .col-12.mb-4
                                    select.custom-select.py-2(required)
                                        option(selected='') 請選擇通訊軟體
                                        option(value="1") WeChat
                                        option(value="2") Line
                                        option(value="2") WhatsApp
                            //通訊軟體帳號
                            .form-row.mx-3
                                .col-12.mb-4
                                    input.form-control.pl-45.py-2(type='text', placeholder='請輸入通訊軟體帳號' required)
                                    .login-icon_account
                                        i.fab.fa-line.text-secondary
                                    .font-14.text-danger.mt-1
                                        i.fas.fa-exclamation-triangle.mr-2
                                        |註冊後即無法更改
                            //手机号码
                            .form-row.mx-3
                                .col-12.mb-4
                                    input.form-control.pl-45.py-2(type='text', placeholder='請輸入手机号码' required)
                                    .login-icon_account
                                        i.fas.fa-mobile-alt.text-secondary
                                    .font-14.text-danger.mt-1
                                        i.fas.fa-exclamation-triangle.mr-2
                                        |註冊後即無法更改
                                    button.btn.btn-outline-primary.w-auto.my-3.px-4(type='button') 發送簡訊驗證碼
                            //簡訊驗證碼
                            .form-row.mx-3
                                .col-12.mb-4
                                    input.form-control.pl-45.py-2(type='text', placeholder='請輸入簡訊驗證碼' required)
                                    .login-icon_account
                                        i.fas.fa-envelope.text-secondary
                            //同意服务条款
                            .form-row.mx-3
                                .col-12.mb-5
                                    .custom-control.custom-checkbox
                                        input#customCheck1.custom-control-input.position-absolute(type='checkbox')
                                        label.custom-control-label.checkbox-border(for='customCheck1') 
                                            |我已年满18岁，并同意投注相关规范以及
                                            a.c-blue(href="terms.html",  target="_blank") 服务条款
                            //btn 
                            .form-row.mx-3
                                .col-12.mb-5.col-12.mt-4.mb-5.d-flex.align-items-center.justify-content-around
                                    button.btn.btn-primary.w-45(type='submit', value='Submit', data-toggle='modal', data-target='#registeredModalCenter') 註冊
                                    button.btn.btn-outline-secondary.w-45(type='reset', value='Reset') 重填

// 忘記密碼 Modal
.modal.fade#forgetModalCenter(tabindex='-1', role='dialog', aria-labelledby='forgetModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times.m-dark(aria-hidden='true')
                h4.text-center.gray.my-5
                    |忘記密碼
                    .fas.fa-question
                h6.text-center.gray.mb-4
                    |請輸入帳號，我們將傳送新密碼至您的註冊手機
                form.needs-validation(novalidate)
                    .form-row.px-5
                        .col-12.mb-5
                            input#validationCustom03.form-control.py-2(type='text', placeholder='請輸入帳號', required)
                        button.btn.btn-primary.w-100.mb-5(type='submit') 
                            i.fas.fa-envelope.mr-2
                            |取得簡訊驗證碼

