.container-fluid.nav-member.mt-48
    .row
        .col-12.text-white.px-3
            h6.d-flex.align-items-center.justify-content-end.my-3.mb-0
                svg.member-info_svg.mr-2(viewbox='0 0 512 512')
                    path(d='M275.1,242.9h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1c0-7.2-5.9-13.1-13.1-13.1\
                    h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1s-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8s24.6,54.8,54.8,54.8h38\
                    c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1s5.9,13.1,13.1,13.1h36.2v27.2\
                    c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0c29.8-0.4,54-24.8,54-54.8\
                    C329.7,267.4,305.2,242.9,275.1,242.9z')
                    path(d='M437.1,74.9C388.7,26.6,324.4,0,256,0S123.3,26.6,74.9,74.9S0,187.6,0,256s26.6,132.7,74.9,181.1S187.6,512,256,512\
                    s132.7-26.6,181.1-74.9S512,324.4,512,256S485.4,123.3,437.1,74.9z M256,485.9C129.3,485.9,26.1,382.7,26.1,256S129.3,26.1,256,26.1\
                    S485.9,129.3,485.9,256S382.7,485.9,256,485.9z')
                |12,345,678.99
                i.fas.fa-redo.link-lightWhite.pl-3
        