.row
    .col-12.mt-48.px-4
        h5.m-grayLight.mt-5
            i.fas.fa-handshake.mr-1
            |合作廠商
        hr
        .d-flex.justify-content-between.mb-3 
            .partner-0
            .partner-1
            .partner-2
        .d-flex.justify-content-between.mb-3
            .partner-3
            .partner-4
            .partner-5
        .d-flex.justify-content-between.mb-3
            .partner-6
            .partner-7
            .partner-8
        .d-flex.justify-content-between.mb-3
            .partner-10
            .partner-11
            .partner-12
        .d-flex.justify-content-between.mb-3
            .partner-13
            .partner-14
            .partner-15