.row
    .col-12.mt-5
        h5.m-grayLight
            i.fas.fa-handshake.mr-1
            |合作廠商
        hr
    .col-4.mb-3
            .partner-1
    .col-4.mb-3
            .partner-2
    .col-4.mb-3
            .partner-3
    .col-4.mb-3
            .partner-4
    .col-4.mb-3
            .partner-5
    .col-4.mb-3
            .partner-6
    .col-4.mb-3
            .partner-7
    .col-4.mb-3
            .partner-8
    .col-4.mb-3
            .partner-9
    .col-4.mb-3
            .partner-10
    .col-4.mb-3
            .partner-11
    .col-4.mb-3
            .partner-12
    .col-4.mb-3
            .partner-13