.row
    .col-12.m-gray.mt-5
        h4.m-grayLight
            i.fas.fa-book.fa-fw
            |免责声明
        hr
        p 享用菲律宾公司s8娱乐城-Super8提供的服务是会员本人的意愿，其风险应由会员本人承担。参与我们服务的同时就说明会员认同菲律宾公司s8娱乐城-Super8所提供的服务是正常、合理、公正、公平的
        p 如果按照会员当地法律博彩属不合法行为，菲律宾公司s8娱乐城-Super8不提倡您参与我们的服务。在博彩被视为不合法行为的任何国家菲律宾公司s8娱乐城-Super8不提倡其国民加入。如果会员因为参与菲律宾公司s8娱乐城-Super8的服务而触犯当地之法律，菲律宾公司s8娱乐城-Super8不负任何责任。
        p 虽然菲律宾公司s8娱乐城-Super8尽力确保网站提供24小时服务，但如果出于不可抗拒的因素使您无法访问网站（例如，服务器遭受攻击，海底光缆遭到破坏等），Super8概不负责。或是由于第三方对公司网站和信息提供的服务（比如无线通讯的提供者等）而导致的拖延、违约、或不提供服务的情况，亦菲律宾公司s8娱乐城-Super8不提供担保也不承担责任。