.container-fluid.px-0.nav-main.nav-bg_agent
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block.mt-5
    //member-frame
    .row
        .col-6.gray.mt-5
            h1.mb-4
                |還沒有"專屬代理"嗎 ?
            p.font-20
                |找到專屬代理才能夠註冊哦!! 
            p.font-20.mb-4
                |透過搜尋可以輕鬆的找到您的代理，提供最佳的客戶服務，增加您的遊戲體驗。只要透過 google 或 facebook 即可輕鬆找到，Super8 Inc期待您的蒞臨。
            .agent-search.w-45.d-flex.align-items-center.float-left.px-2.mr-3
                a.w-100.d-flex.align-items-center   
                    i.fab.fa-google.fa-2x.text-danger.mr-2
                    |Super8 Inc
                    svg.agent-search_icon.ml-auto.mr-2(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 451 451', xml:space='preserve')
                        path(d='M447,428L337.4,318.4c29.4-33.8,47.2-77.9,47.2-126.1C384.6,86.2,298.4,0,192.4,0C86.2,0,0.1,86.3,0.1,192.3\
                        s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4C452.2,441.8,452.2,433.2,447,428z\
                        M27,192.3C27,101.1,101.1,27,192.2,27c91.2,0,165.3,74.2,165.3,165.3s-74.1,165.4-165.3,165.4C101.2,357.7,27,283.5,27,192.3z')
            .agent-search.w-45.d-flex.align-items-center.pl-3.pr-2   
                a.w-100.d-flex.align-items-center   
                    i.fab.fa-facebook-f.fa-2x.text-primary.mr-2
                    |Super8 Inc
                    svg.agent-search_icon.ml-auto.mr-2(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 451 451', xml:space='preserve')
                        path(d='M447,428L337.4,318.4c29.4-33.8,47.2-77.9,47.2-126.1C384.6,86.2,298.4,0,192.4,0C86.2,0,0.1,86.3,0.1,192.3\
                        s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4C452.2,441.8,452.2,433.2,447,428z\
                        M27,192.3C27,101.1,101.1,27,192.2,27c91.2,0,165.3,74.2,165.3,165.3s-74.1,165.4-165.3,165.4C101.2,357.7,27,283.5,27,192.3z')

        .col-6
            .fadeInUp.animated.agent-text
            .fadeIn.animated.agent-img

