.container-fluid.px-0.nav-main.nav-bg_app
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block
    //app
    .row
        .col-12.mt-4
            h4.gray.font-weight-normal.d-flex.align-items-center.my-4
                svg.mygame-title_svg.mr-1(viewbox='0 0 512 512')
                    path(d='M416.8,451.4V38c0-20.9-19.8-38-44.4-38H117C92.6,0,72.7,17,72.7,38v413.5c0,20.9,19.8,38,44.4,38h255.4\
                    C396.9,489.4,416.8,472.4,416.8,451.4z M101.3,88.1h286.8v278.2H101.3C101.3,366.3,101.3,88.1,101.3,88.1z M117,24.5h255.4\
                    c8.6,0,15.8,6,15.8,13.5v25.6H101.3V38C101.3,30.5,108.4,24.5,117,24.5z M101.3,451.4v-60.7h286.8v60.7c0,7.4-7,13.5-15.8,13.5H117\
                    C108.4,464.9,101.3,458.9,101.3,451.4z')
                    path(d='M273.8,416.6h-58c-7.9,0-14.4,5.5-14.4,12.3s6.4,12.3,14.4,12.3h58c7.9,0,14.4-5.5,14.4-12.3\
                    C288.1,422.1,281.7,416.6,273.8,416.6z')
                | APP下載
    //logo
    .row.isotope-wrapper
        .col-20
            .mx-2.mb-3
                label.logo-game.logo-game_text(id="all") 全部遊戲
                    input(type='radio', data-type='*', checked='', name='isotope-filter' for="all")     
        .col-20
            .mx-2.mb-3
                label.logo-game.logo-game_1(id="allbet")
                    input(type='radio', data-type='allbet', name='isotope-filter' for="allbet")
        //img
        .col-12.isotope-box
            .isotope-item.text-center(data-type='allbet')
                .isotope-img.mt-2
                .h3.mb-3
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                a.c-blue(href="https://www.abgapp88.net/" target="_blank") 歐博 真人視訊
                hr
                p.small.mb-2 使用者名 S8帳號+yn3
                p.small 密碼 您的使用者密碼
            .isotope-item.text-center(data-type='allb')
                .isotope-img.mt-2
                .h3.mb-3
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                a.c-blue(href="https://www.abgapp88.net/" target="_blank") 歐博 真人視訊
                hr
                p.small.mb-2 使用者名 S8帳號+yn3
                p.small 密碼 您的使用者密碼
            .isotope-item.text-center(data-type='allb')
                .isotope-img.mt-2
                .h3.mb-3
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                a.c-blue(href="https://www.abgapp88.net/" target="_blank") 歐博 真人視訊
                hr
                p.small.mb-2 使用者名 S8帳號+yn3
                p.small 密碼 您的使用者密碼
            .isotope-item.text-center(data-type='allb')
                .isotope-img.mt-2
                .h3.mb-3
                    i.fab.fa-apple.mr-2
                    i.fab.fa-android
                a.c-blue(href="https://www.abgapp88.net/" target="_blank") 歐博 真人視訊
                hr
                p.small.mb-2 使用者名 S8帳號+yn3
                p.small 密碼 您的使用者密碼

            
