.container-fluid.px-0.footer-mt.footer-index
    //footer-text
    .footer-box.py-4.text-center 
        a.c-blueDark.px-3(href="terms.html") 服務條款
        | Copyright © 2018 Super8 Inc All rights reserved