.swiper-container.swiper-container_slider.px-0

    //slider
    .swiper-wrapper
        .swiper-slide.d-flex.justify-content-center
            img(src="./images/slider1.jpg", alt="")
        .swiper-slide.d-flex.justify-content-center
            img(src="./images/slider2.jpg", alt="")
    .swiper-button-next.mr-3
    .swiper-button-prev.ml-3

    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //shadow
    .nav-shadow



