.container-fluid.header-nav_bg.fixed-top
    .container
        .row.nav-bg
            //登入後會員資料
            .col-6.m-light.d-flex.align-items-center
                span.pr-3 尊龙会员  
                svg.svg-light.mr-1(viewbox='0 0 512 512')
                    path.st0(d='M393.1,5H337v24.4h58.8c36.2,0,65.7,29.4,65.7,65.7v321.8h0.1c0,36.2-29.4,65.7-65.7,65.7H245h-4.7H111.4\
                    c-36.3,0-65.7-29.6-65.7-65.7V95.1c0-36.3,29.6-65.7,65.7-65.7h58.9V5h-56.1C62.8,5,21,46.9,21,98.2v315.6\
                    c0,51.5,41.9,93.2,93.2,93.2h126.4h4.6h147.9c51.4,0,93.2-41.8,93.2-93.2V98.2C486.3,46.9,444.6,5,393.1,5z')
                    path(d='M-528.9,364.3H-399v-74.2h-45.1C-487.6,290.1-523.3,322.7-528.9,364.3z')
                    g
                        path.st0(d='M253.6,263.6c-35.3,0-64-28.7-64-64s28.7-64,64-64s64,28.7,64,64S288.9,263.6,253.6,263.6z M253.6,159.6\
                        c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S275.7,159.6,253.6,159.6z')
                        path.st0(d='M374.2,376.4H133l0.8-12.8c3.1-48.8,43.9-87,92.8-87h54c49,0,89.8,38.2,92.8,87.1L374.2,376.4z M159.8,352.4\
                        h187.6c-7.6-29.9-34.9-51.8-66.8-51.8h-54C194.7,300.6,167.5,322.5,159.8,352.4z')
                span.mr-3 1232133maya   
                svg.svg-light.mr-1(viewbox='0 0 512 512')
                    path.st0(d='M275.1,242.9h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1\
                    c0-7.2-5.9-13.1-13.1-13.1h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1s-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8\
                    s24.6,54.8,54.8,54.8h38c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1\
                    c0,7.2,5.9,13.1,13.1,13.1h36.2v27.2c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0\
                    c29.8-0.4,54-24.8,54-54.8C329.7,267.4,305.2,242.9,275.1,242.9z')
                    path.st0(d='M437.1,74.9C388.7,26.6,324.4,0,256,0S123.3,26.6,74.9,74.9S0,187.6,0,256s26.6,132.7,74.9,181.1\
                    S187.6,512,256,512s132.7-26.6,181.1-74.9S512,324.4,512,256S485.4,123.3,437.1,74.9z M256,485.9C129.3,485.9,26.1,382.7,26.1,256\
                    S129.3,26.1,256,26.1S485.9,129.3,485.9,256S382.7,485.9,256,485.9z')
                span 2343323
            //登入後選單
            .col-6.d-flex.justify-content-end.align-items-center
                //轉
                a.d-flex.align-items-center.cursor-p.mr-4(href="member.html", data-toggle="tooltip", data-placement="bottom", title="點數管理")
                    svg.svg-light_a.mr-1(viewbox='0 0 512 512')
                        path(d='M117.3,101.5c75.6-68.4,188.7-69.4,265.4-7L322,96.8c-7.8,0.3-13.9,6.8-13.6,14.6c0.3,7.6,6.6,13.6,14.1,13.6\
                        c0.2,0,0.3,0,0.5,0l93.3-3.5c7.6-0.3,13.6-6.5,13.6-14.1v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.5-92.2c-0.4-7.8-7-13.9-14.7-13.6\
                        c-7.8,0.3-13.9,6.8-13.6,14.6l2.2,57.8c-38-31.1-84.7-49-134.7-51.5C203.7,17.8,144.2,39,98.3,80.6c-63.1,57.2-89.9,144.2-69.8,227\
                        c1.6,6.5,7.3,10.8,13.7,10.8c1.2,0,2.2-0.1,3.3-0.4c7.5-1.9,12.2-9.5,10.4-17C38.3,228.1,61.7,151.7,117.3,101.5z')
                        path(d='M483.5,204.4c-1.9-7.5-9.5-12.2-17-10.4c-7.5,1.9-12.2,9.5-10.4,17c17.7,72.8-5.9,149.2-61.4,199.4\
                        c-39,35.2-87.9,52.6-136.6,52.6c-46.5,0-92.9-15.8-130.4-46.9l61.5-5.5c7.7-0.7,13.5-7.5,12.8-15.4s-7.5-13.5-15.4-12.8l-92.9,8.4\
                        c-7.7,0.7-13.5,7.5-12.8,15.4l8.4,92.9c0.6,7.3,6.8,12.9,14,12.9c0.4,0,0.8,0,1.3-0.1c7.7-0.7,13.5-7.5,12.8-15.4l-5-56.6\
                        c38,30.7,84.5,48.6,134.1,51.1c4,0.2,7.9,0.3,11.8,0.3c57.6,0,112.4-21.1,155.5-60C476.8,374.2,503.6,287.3,483.5,204.4z')
                        path(d='M273.1,244H239c-14.2,0-25.7-11.5-25.7-25.7s11.5-25.7,25.7-25.7h60.2c6.4,0,11.7-5.3,11.7-11.7\
                        s-5.3-11.7-11.7-11.7h-31.4v-23.9c0-6.4-5.3-11.7-11.7-11.7c-6.4,0-11.7,5.3-11.7,11.7v23.9H239c-27.1,0-49.1,22.1-49.1,49.1\
                        s22.1,49.1,49.1,49.1h34.1c14.2,0,25.7,11.5,25.7,25.7s-11.5,25.7-25.7,25.7h-61.2c-6.4,0-11.7,5.3-11.7,11.7\
                        c0,6.4,5.3,11.7,11.7,11.7h32.4v24.4c0,6.4,5.3,11.7,11.7,11.7c6.4,0,11.7-5.3,11.7-11.7v-24.4h5.7c0.1,0,0.2,0,0.3,0\
                        c26.8-0.4,48.4-22.3,48.4-49.1C322.1,266,300.1,244,273.1,244z')
                    |轉
                //存
                a.d-flex.align-items-center.cursor-p.mr-4(href="member.html", data-toggle="tooltip", data-placement="bottom", title="存款")
                    svg.svg-light_a.mr-1(viewbox='0 0 512 512')
                        path(d='M481.2,394.4v54.5c0,36.3-29.6,33.7-65.7,33.7H96.6c-36.3,0-65.7,2.4-65.7-33.7v-54.7c0-8.1-6.5-14.7-14.7-14.7\
                        S1.5,386,1.5,394.2v54.7c0,52.5,42.7,63.1,95.1,63.1h318.8c52.5,0,95.1-10.7,95.1-63.1v-54.5c0-8.1-6.5-14.7-14.7-14.7\
                        C487.7,379.7,481.2,386.3,481.2,394.4z')
                        path(d='M275.1,184.5h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1\
                        s-5.9-13.1-13.1-13.1h-35V74.4c0-7.2-5.9-13.1-13.1-13.1c-7.2,0-13.1,5.9-13.1,13.1V101h-6c-30.2,0-54.8,24.6-54.8,54.8\
                        s24.6,54.8,54.8,54.8h38c15.8,0,28.7,12.9,28.7,28.7S290.8,268,275,268h-68.3c-7.2,0-13.1,5.9-13.1,13.1s5.9,13.1,13.1,13.1h36.2\
                        v27.2c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0c29.8-0.4,54-24.8,54-54.8\
                        C329.7,209,305.2,184.5,275.1,184.5z')
                        g
                            line(x1='551.9', y1='396', x2='732.3', y2='215.6')
                            line(x1='732.3', y1='210.9', x2='551.9', y2='30.5')
                        path(d='M411.4,396.1H100.6l-4.5-4.8C56.1,348,34,291,34,230.8C34,103.3,133.6-0.5,256-0.5s222,103.8,222,231.3\
                        c0,60.2-22.1,117.2-62.2,160.5L411.4,396.1z M113.9,366.1h284.2C430.3,329,448,281.2,448,230.8c0-111-86.1-201.3-192-201.3\
                        S64,119.8,64,230.8C64,281.2,81.7,329,113.9,366.1z')
                    |存
                //提
                a.d-flex.align-items-center.cursor-p.mr-4(href="member.html", data-toggle="tooltip", data-placement="bottom", title="取款")
                    svg.svg-light_a.mr-1(viewbox='0 0 512 512')
                        g
                            line(x1='551.9', y1='396', x2='732.3', y2='215.6')
                            line(x1='732.3', y1='210.9', x2='551.9', y2='30.5')
                        path(d='M275.1,282.2h-38c-15.8,0-28.7-12.9-28.7-28.7s12.9-28.7,28.7-28.7h67.1c7.2,0,13.1-5.9,13.1-13.1\
                        c0-7.2-5.9-13.1-13.1-13.1h-35v-26.7c0-7.2-5.9-13.1-13.1-13.1c-7.2,0-13.1,5.9-13.1,13.1v26.7h-6c-30.2,0-54.8,24.6-54.8,54.8\
                        s24.6,54.8,54.8,54.8h38c15.8,0,28.7,12.9,28.7,28.7s-12.9,28.7-28.7,28.7h-68.3c-7.2,0-13.1,5.9-13.1,13.1s5.9,13.1,13.1,13.1h36.2\
                        v27.2c0,7.2,5.9,13.1,13.1,13.1s13.1-5.9,13.1-13.1v-27.2h6.3c0.1,0,0.2,0,0.3,0c29.8-0.4,54-24.8,54-54.8\
                        C329.7,306.8,305.2,282.2,275.1,282.2z')
                        path(d='M256,511.5c-122.4,0-222-103.8-222-231.3c0-60,22.1-117,62.2-160.5c5.6-6.1,15.1-6.5,21.2-0.8\
                        c6.1,5.6,6.5,15.1,0.8,21.2C83.3,178,64,227.8,64,280.2c0,111,86.1,201.3,192,201.3s192-90.3,192-201.3\
                        c0-52.6-19.3-102.3-54.2-140.1c-5.6-6.1-5.3-15.6,0.8-21.2s15.6-5.3,21.2,0.8c40.1,43.3,62.2,100.3,62.2,160.5\
                        c0,61.7-23,119.7-64.8,163.3C371.2,487.4,315.4,511.5,256,511.5z')
                        path(d='M481.2,14.3v9.5c0,36.3-29.6,33.7-65.7,33.7H96.6c-36.3,0-65.7,2.4-65.7-33.7v-9.6C30.8,6,24.3-0.5,16.2-0.5\
                        C8-0.5,1.5,6,1.5,14.2v9.7C1.5,76.4,44.2,87,96.6,87h318.8c52.5,0,95.1-10.7,95.1-63.1v-9.6c0-8.1-6.5-14.7-14.7-14.7\
                        C487.7-0.3,481.2,6.3,481.2,14.3z')
                    |提
                //我的遊戲
                a.d-flex.align-items-center.cursor-p.mr-4(href="my-game.html", data-toggle="tooltip", data-placement="bottom", title="我的遊戲")
                    svg.svg-light_a.nav-favorite(viewbox='0 0 512 512')
                        path(d='M488.5,187.5c-5.2-15.6-19.1-26.3-35.1-27.2l-119.7-8.6c-2.5-0.2-4.7-1.7-5.6-4.1l-45.6-111c-6.3-15.3-20.5-24.8-37.1-24.8\
                        s-30.6,9.5-37.1,24.9l-45.7,111.1c-1,2.3-3.1,3.9-5.6,4.1l-119.5,8.6c-16.2,0.8-30,11.4-35.3,27.1c-5.4,15.8-0.8,32.3,11.9,43.3\
                        l92.4,76.3c1.9,1.6,2.8,4.2,2.2,6.6l-28,115.3c-3.3,12-1,24.4,6.3,34.1c7.5,9.8,19.2,15.7,31.5,15.7c7.6,0,14.9-2.3,21.1-6.4\
                        l101-62.9c2.1-1.3,4.8-1.3,6.9,0l102.1,62.7c6.4,4.3,13.8,6.6,21.3,6.6c11.4,0,22.9-5.5,30.3-14.8c7.7-9.6,10.5-22.1,7.7-34.6\
                        l-28.3-115.7c-0.6-2.5,0.3-5.1,2.2-6.7l93.8-76.5C489.4,219.9,493.8,203.3,488.5,187.5z M450.1,213.5L361.3,286\
                        c-8.8,7.1-12.7,18.9-10,29.9l26.9,109.5c1.4,6.4-1.1,10.9-2.8,13c-2.6,3.3-6.6,5.4-10.7,5.4c-2.5,0-4.9-0.8-7.5-2.5l-97.3-59.9\
                        c-4.6-2.8-10-4.3-15.5-4.3c-5.5,0-10.9,1.5-15.6,4.4l-96.3,59.9c-6.1,4.1-14.4,2.3-18.8-3.4c-1.8-2.4-3.7-6.4-2-12.5l26.9-109.8\
                        c2.6-10.9-1.2-22.5-9.9-29.7l-87.5-72.3c-6.9-5.9-5-13.7-4.2-15.8c0.8-2.2,3.9-9.5,13-10l113.6-8.1c11.2-0.8,20.8-7.7,25.1-18.2\
                        l43.4-105.4c3.5-8.6,11.4-9.2,13.7-9.2c2.3,0,10.2,0.7,13.7,9.2l43.4,105.4c4.2,10.5,14,17.4,25.1,18.2l113.7,8.2\
                        c9,0.5,12.1,7.7,12.8,10C454.9,200,456.8,207.7,450.1,213.5z')
                //APP下載
                a.d-flex.align-items-center.cursor-p.mr-4(href="app.html", data-toggle="tooltip", data-placement="bottom", title="APP下載")
                    svg.svg-light_a.mr-1(viewbox='0 0 512 512')
                        path(d='M416.8,451.4V38c0-20.9-19.8-38-44.4-38H117C92.6,0,72.7,17,72.7,38v413.5c0,20.9,19.8,38,44.4,38h255.4\
                        C396.9,489.4,416.8,472.4,416.8,451.4z M101.3,88.1h286.8v278.2H101.3C101.3,366.3,101.3,88.1,101.3,88.1z M117,24.5h255.4\
                        c8.6,0,15.8,6,15.8,13.5v25.6H101.3V38C101.3,30.5,108.4,24.5,117,24.5z M101.3,451.4v-60.7h286.8v60.7c0,7.4-7,13.5-15.8,13.5H117\
                        C108.4,464.9,101.3,458.9,101.3,451.4z')
                        path(d='M273.8,416.6h-58c-7.9,0-14.4,5.5-14.4,12.3s6.4,12.3,14.4,12.3h58c7.9,0,14.4-5.5,14.4-12.3\
                        C288.1,422.1,281.7,416.6,273.8,416.6z')
                //登出
                a.d-flex.align-items-center.cursor-p.mr-2(href="#", data-toggle="tooltip", data-placement="bottom", title="登出")
                    svg.svg-light_a(viewbox='0 0 512 512')
                        path.st0(d='M247.3,482.7H113.8c-36.3,0-65.7-29.6-65.7-65.7V95.1c0-36.3,29.6-65.7,65.7-65.7h135.7\
                        c8.1,0,14.7-6.5,14.7-14.7S257.7,0,249.5,0H113.8C61.3,0,18.7,42.7,18.7,95.1v321.8c0,52.5,42.7,95.1,95.1,95.1h133.5\
                        c8.1,0,14.7-6.5,14.7-14.7S255.4,482.7,247.3,482.7z')
                        path.st0(d='M489,245.7l-93.2-93.2c-5.8-5.8-15-5.8-20.8,0c-5.8,5.8-5.8,15,0,20.8l68.2,68.2H145.6\
                        c-8.1,0-14.7,6.5-14.7,14.7s6.5,14.7,14.7,14.7h297.6L375,339c-5.8,5.8-5.8,15,0,20.8c2.8,2.8,6.6,4.3,10.3,4.3\
                        c3.7,0,7.5-1.4,10.3-4.3l93.2-93.2C494.7,260.7,494.7,251.3,489,245.7z')
                //語系
                .dropdown.show
                    a.btn.dropdown-toggle.arrow-none(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        img.nav-img(src="images/c.png", alt="简体")
                    .dropdown-menu(aria-labelledby="dropdownMenuLink") 
                        a.dropdown-item(href="#", data-toggle="tooltip", data-placement="bottom", title="简体") 
                            img.nav-img.mr-1(src="images/c.png") 
                            | 简体
                        a.dropdown-item(href="#", data-toggle="tooltip", data-placement="bottom", title="繁體") 
                            img.nav-img.mr-1(src="images/h.png") 
                            | 繁體
                        a.dropdown-item(href="#", data-toggle="tooltip", data-placement="bottom", title="Tiếng Việt") 
                            img.nav-img.mr-1(src="images/v.png") 
                            | Tiếng Việt
    //logo
    a.d-block.logo.mx-auto(href="index.html")  
    //go top
    a.go-top(href="#" onclick="topFunction()")
        i.fas.fa-angle-up.fa-2x.d-flex.justify-content-center.align-items-center