.container-fluid.header-nav_bg.fixed-top
    .container
        .row.nav-bg
            .col-12.d-flex.justify-content-end.align-items-center
                //登入前選單
                a.b-outlineLight.mr-4(href="registered.html", title="免費註冊") 免費註冊
                a.d-flex.align-items-center.mr-2(href="#", data-toggle='modal', data-target='#exampleModalCenter', title="登入")
                    svg.svg-light_a(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', xml:space='preserve')
                        path.st0(d='M250,497.3c0,8.1,6.5,14.7,14.7,14.7h133.5c52.4,0,95.1-42.6,95.1-95.1V95.1c0-52.4-42.6-95.1-95.1-95.1H262.5\
                        c-8.1,0-14.7,6.5-14.7,14.7s6.5,14.7,14.7,14.7h135.7c36.2,0,65.7,29.4,65.7,65.7v321.8c0,36.2-29.4,65.7-65.7,65.7H264.7\
                        C256.6,482.7,250,489.2,250,497.3z')
                        path.st0(d='M376.7,245.7l-93.2-93.2c-5.8-5.8-15-5.8-20.8,0s-5.8,15,0,20.8l68.2,68.2H33.4c-8.1,0-14.7,6.5-14.7,14.7\
                        s6.5,14.7,14.7,14.7H331L262.8,339c-5.8,5.8-5.8,15,0,20.8c2.8,2.8,6.6,4.3,10.3,4.3s7.5-1.4,10.3-4.3l93.2-93.2\
                        C382.5,260.7,382.5,251.3,376.7,245.7z')
                .dropdown.show
                    a.btn.dropdown-toggle.arrow-none(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        img.nav-img(src="images/c.png", alt="简体")
                    .dropdown-menu(aria-labelledby="dropdownMenuLink") 
                        a.dropdown-item(href="#") 
                            img.nav-img.mr-1(src="images/c.png", alt="简体") 
                            | 简体
                        a.dropdown-item(href="#") 
                            img.nav-img.mr-1(src="images/h.png", alt="繁體") 
                            | 繁體
                        a.dropdown-item(href="#") 
                            img.nav-img.mr-1(src="images/v.png", alt="Tiếng Việt") 
                            | Tiếng Việt
    //logo
    a.d-block.logo.mx-auto(href="index.html")  
    //go top
    a.go-top(href="#" onclick="topFunction()")
        i.fas.fa-angle-up.fa-2x.d-flex.justify-content-center.align-items-center    

// 登入 Modal
.modal.fade#exampleModalCenter(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times.m-dark(aria-hidden='true')
                h4.w-100.text-center.gray.my-4
                    .fas.fa-user-circle.fa-2x
                form.needs-validation(novalidate)
                    .form-row.px-5
                        .col-12.mb-4
                            input#validationCustom01.form-control.py-2(type='text', placeholder='請輸入帳號', required)
                        .col-12.mb-4
                            input#input-password-confirm.form-control.py-2(type='password', placeholder='請輸入密碼', required)
                            i#i-password-confirm.far.fa-eye-slash.fa-lg.c-blue.login-input_i.pl-3.d-flex(onclick="hideShowPsw2()")
                        .col-6.mb-4
                            input#validationCustom01.form-control.py-2(type='text', placeholder='請輸入驗證碼', required)
                        .col-6.mb-4.d-flex.align-items-center
                            img(src="images/captcha.png")
                            i.fas.fa-redo.fa-lg.c-blue.cursor-p.ml-4
                        .col-12
                            .text-center
                                a.c-blue(href="#", data-toggle='modal', data-target='#forgetModalCenter', data-dismiss='modal', aria-label='Close', title="忘記密碼") 忘記密碼 ?
                        button.btn.btn-primary.btn-lg.btn-block.mt-4.mb-5(type='submit') 登入

// 忘記密碼 Modal
.modal.fade#forgetModalCenter(tabindex='-1', role='dialog', aria-labelledby='forgetModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times.m-dark(aria-hidden='true')
                h3.text-center.gray.my-4
                    |忘記密碼
                    .fas.fa-question
                h6.text-center.gray.mb-4
                    |請輸入帳號，我們將傳送新密碼至您的註冊手機
                form.needs-validation(novalidate)
                    .form-row.px-5
                        .col-12.mb-4
                            input#validationCustom01.form-control.py-2(type='text', placeholder='請輸入帳號', required)
                        button.btn.btn-primary.btn-lg.btn-block.mt-4.mb-5(type='submit') 
                            i.fas.fa-envelope.mr-2
                            |取得簡訊驗證碼