.container-fluid.px-0.nav-main.nav-bg_promotion
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.c-blueLight.active(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block
    //promotion
    .row
        .col-12
            .block-bg.block-bg_promotion.mb-2
        .col-12.my-3
            .promotion-block.d-flex.cursor-p(data-toggle='modal', data-target='#promotionModalCenter')
                .promotion-block_img
                .promotion-block_text
                    .promotion-block_tag.m-light.py-2.pl-3.pr-5.d-inline-block
                        i.fas.fa-check.pr-2
                        |已參加
                    h5.m-blueLight.my-3.ml-3 推荐注册送你介绍金
                    h6.m-light.mb-2.ml-3 參加次數：1
                    h6.m-light.ml-3 活动时间：2018/10/11-2019/12/31
                    h6.m-blueLight.ml-3.mt-5
                        |More
                        i.fas.fa-angle-double-right.ml-2
        .col-12.my-3
            .promotion-block.d-flex
                .promotion-block_img
                .promotion-block_text
                    .promotion-block_tag.m-light.align-self-top.py-2.pl-3.pr-5.d-inline-block
                        i.fas.fa-clock.pr-2
                        |申請中
        .col-12.my-3
            .promotion-block.d-flex
                .promotion-block_img
                .promotion-block_text
                    .promotion-block_tag.m-light.align-self-top.py-2.pl-3.pr-5.d-inline-block
                        i.fas.fa-flag.pr-2
                        |未參加


// Modal
.modal.fade#promotionModalCenter(tabindex='-1', role='dialog', aria-labelledby='promotionModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                .modal-header_promotion
            .modal-body.m-3
                h4.m-blue.pb-2
                    |呷好逗相報
                    span.gray.ml-2 參加次數：1
                p 活動對象：全體會員
                p 活動時間：2018/10/11~2019/12/31
                p 活動內容：
                    span.font-weight-bold 舊會員介紹新會員～馬上領取300點！ 介紹越多領越多喔～馬上領～無上限！
                p 申請方式：被介紹人（新會員）於註冊時或會員資料內填寫介紹人，（新會員）並且首儲1,000以上，s8娛樂城將自動派發300點給介紹人。
                p.gray 注意事項：
                    br 
                    |1. 每位新會員只能被介紹一次。
                    br 
                    |2. 新會員需要完成首儲才算被介紹成功。
                    br 
                    |3. 同一帳戶/電話號碼/IP位置等，只限領取一次優惠，如有任何個人或是團體利用不誠實手法獲取優惠，公司保留取消或收回會員優惠彩金的權利。
                button.btn.btn-outline-primary.float-right.px-5(type='button',data-dismiss="modal", aria-label="Close") 關閉