.container-fluid.px-0.nav-main.nav-bg_registered
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block
    //member-frame
    .row
        .col-12
            .block-bg.block-bg_registered.mb-5
        .col-7.pr-5
            .row
                .col-4.d-flex.justify-content-end 
                    i.far.fa-grin-wink.fa-2x.gray
                .col-8.mb-4 
                    h4.gray 歡迎加入 VipVip Inc
            form.needs-validation(novalidate)
                //帐号
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 
                        |帐号
                    .col-8
                        input.form-control.w-75(type='text', placeholder='請輸入帐号' required)
                //密码
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 
                        |密码
                    .col-8
                        input#input-password.form-control.w-75(type='password', placeholder='******' required)
                        i#i-password.far.fa-eye-slash.fa-lg.c-blue.cursor-p.icon-inside(onclick="hideShowPsw()")
                        .invalid-feedback 請輸入密碼
                //确认密码
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 
                        |确认密码
                    .col-8
                        input#input-password-confirm.form-control.w-75(type='password', placeholder='******' required)
                        i#i-password-confirm.far.fa-eye-slash.fa-lg.c-blue.cursor-p.icon-inside(onclick="hideShowPsw2()")
                        .invalid-feedback 請輸入密碼
                //通訊軟體
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end(required) 通訊軟體
                    .col-8
                        select.form-control.w-75(required)
                            option(value="1") WeChat
                            option(value="2") Line
                            option(value="2") WhatsApp
                //通訊軟體帳號
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 通訊軟體帳號
                    .col-8
                        input.form-control.w-75(type='text', placeholder='請輸入通訊軟體帳號' required)
                        .font-14.text-danger.mt-1
                            i.fas.fa-exclamation-triangle.mr-2
                            |註冊後即無法更改
                //手机号码
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 
                        |手机号码
                    .col-8
                        input.form-control.w-75(type='text', placeholder='請輸入手机号码' required)
                        .font-14.text-danger.mt-1
                            i.fas.fa-exclamation-triangle.mr-2
                            |註冊後即無法更改
                        button.btn.btn-outline-primary.w-auto.my-3.px-4(type='button') 發送簡訊驗證碼
                //簡訊驗證碼
                .form-group.row
                    label.col-4.col-form-label.d-flex.justify-content-end 
                        |簡訊驗證碼
                    .col-8
                        input.form-control.w-75(type='text', placeholder='請輸入簡訊驗證碼' required)
                //同意服务条款
                .form-group.row
                    .custom-control.custom-checkbox.col-8.offset-md-4.mb-3
                        input#customCheck1.custom-control-input.position-static(type='checkbox')
                        label.custom-control-label.checkbox-border(for='customCheck1') 
                            |我已年满18岁，并同意投注相关规范以及
                            a.c-blue(href="terms.html",  target="_blank") 服务条款
                //btn 
                .row
                    .col-8.offset-md-4.mt-3.mb-5
                        button.btn.btn-primary.w-auto.member-button.mr-4(type='submit', value='Submit', data-toggle='modal', data-target='#registeredModalCenter') 註冊
                        button.btn.btn-outline-secondary.w-auto.member-button(type='reset', value='Reset') 重填
        .col-5
            .mb-4
                h5.d-flex.align-items-center.gray
                    i.fas.fa-user-friends.fa-lg.mr-2.gray
                    |abcd5432 邀請您加入 VipVip Inc 
            .mb-5
                p.gray VipVip Inc 最值得信賴的平台，誠信經營、有口皆碑、優惠最多、服務最好、全年無休。
                p.gray VipVip Inc 提供您多種娛樂平台，您可自由穿梭各個遊戲平台，不須受限於單一遊戲，立即註冊、您就是我們的專屬VIP。
            .mb-5
                hr
            .mb-4
                h5.d-flex.align-items-center.gray
                    i.fas.fa-comments.fa-lg.mr-2.gray
                    |Line 掃描加入您的專屬客服
            .registered-qrcode.w-50.float-left
            button.btn.btn-outline-secondary.px-4(type='button') Line掃描教學

// Modal
.modal.fade#registeredModalCenter(tabindex='-1', role='dialog', aria-labelledby='registeredModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header.align-items-center
                h5#eregisteredModalLongTitle.modal-title.gray
                    | 請確認以下資訊是否正確
            .modal-body.m-3
                table.table.table-bordered
                    tbody
                        tr
                            td 帐号：test123
                        tr
                            td 密码：ddddddd
                        tr
                            td 确认密码：ddddddd
                        tr
                            td 通訊軟體：Line
                        tr
                            td 通訊軟體帳號：test123
                                span.font-14.text-danger.float-right
                                    i.fas.fa-exclamation-triangle.mr-2
                                    |註冊後即無法更改
                        tr
                            td 手机号码：0911888000
                                span.font-14.text-danger.float-right
                                    i.fas.fa-exclamation-triangle.mr-2
                                    |註冊後即無法更改

            .modal-footer
                button.btn.btn-primary.px-5(type='button') 送出
                button.btn.btn-outline-secondary.px-5(type='button', data-dismiss='modal') 返回