.footer-copyright.my-5 
    .m-gray.mb-2|Copyright © 2019 Super8 Inc All rights reserve
    a.mr-3(href="about.html") 關於我們
    a.mr-3(href="terms.html") 服務條款
    a.mr-3(href="privacy.html") 隱私權聲明
    a(href="statement.html") 免責聲明

