.row
    .col-6.mb-4.pr-0
        a.mainBlock(href="#")
            .mainBlock-cs
            |客服中心
    .col-6.mb-4.pl-0
        a.mainBlock(href="#")
            .mainBlock-agent
            |專屬代理
    .col-6.mb-4.pr-0
        a.mainBlock(href="#")
            .mainBlock-live
            |真人視訊
    .col-6.mb-4.pl-0
        a.mainBlock(href="#")
            .mainBlock-sport
            |體育賽事
    .col-6.mb-4.pr-0
        a.mainBlock(href="#")
            .mainBlock-ele
            |電子遊戲
    .col-6.mb-4.pl-0
        a.mainBlock(href="#")
            .mainBlock-lottery
            |彩票遊戲