.row.my-3
    //我的最愛
    .col-12
        h4.m-gray
            i.fas.fa-star.fa-fw.m-skin
            |我的最愛
        hr
    .col-6.mb-4.pr-0
        a.mainBlock(href="#")
            .mainBlock-cs
            |客服中心
    .col-6.mb-4.pl-0
        a.mainBlock(href="#")
            .mainBlock-agent
            |專屬代理
    .col-6.mb-4.pr-0
        a.mainBlock(href="#")
            .mainBlock-live
            |真人視訊
    .col-6.mb-4.pl-0
        a.mainBlock(href="#")
            .mainBlock-sport
            |體育賽事