.row
    .col-12.m-gray.mt-48.px-4
        h5.m-grayLight.mt-5
            i.far.fa-bell.mr-1
            |系統公告
        hr
        p
            strong ★公告★ 敬愛的會員您好提醒您，儲值下注100%即可提款唷~(如有領取優惠依照優惠規定)
        p
            small.m-grayLight 2018-09-17
        h5.m-grayLight.mt-5
            i.far.fa-bell.mr-1
            |系統公告
        hr
        p
            strong ★首儲優惠★ 滿1000即贈500，存款後，請別忘了到優惠活動申請喔!!!
        p 申請流程：先存款後，再到優惠活動申請即可喔!!! 有任何問題，請洽詢您的代理喔。
        p
            small.m-grayLight 2018-05-08