.row
    .col-12.m-gray.mt-48.px-4
        h4.m-grayLight.mt-5
            i.fas.fa-shield-alt.fa-fw
            |隐私权声明
        hr
        p 我们致力为客户保护隐私并提供一个最安全的游戏平台，我们在此网站搜集的资料将会为您提供最卓越的服务，我们不会出卖或租赁您的个人资料给第三方，客户所提供的个人资料均经过加密技术处理，并储存在安全的、非公开的作业系统，对于有机会接触客户的个人资料的协助伙伴也必需遵守我们订立的隐私保密规则。
