.row.column2
    .col-9.c2-left
        .recommend
          .col-12.title.justify-content-between
            h1 彩票         

          .col-12.content
            .row
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img7.png', alt='')                  
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 福彩3D                       
                      p 天天开奖              
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img8.png', alt='')                  
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 排列三                         
                      p 每晚20:30开奖               
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img9.png', alt='')                   
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 排列五                         
                      p 每晚20:30开奖     
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img4.png', alt='')                   
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 大乐透                          
                      p 每周一、三、六开奖            
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img5.png', alt='')                   
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 双色球                         
                      p 每周二、四、日开奖          
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img10.png', alt='')                
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 七星                         
                      p 每周二、五、日开奖
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img11.png', alt='')                   
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 广东11选5                         
                      p 每10分钟开奖       
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                    a(href='#')
                      img(src='images/recommend-img12.png', alt='')                
                  .col-7.recommend-text.text-left
                    a(href='#')
                      h1 七乐                         
                      p 好玩又快速         
              .col-4.recommend-item
                .row
                  .col-5.recommend-img
                         
        .recommend
            .col-12.title.justify-content-between
                h1 竞彩


            .col-12.content
                .row
                    .col-4.recommend-item 
                        .row
                            .col-5.recommend-img.disabled-game
                                a(href="#")
                                    img(src="images/recommend-img1.png", alt="")
                            .col-7.recommend-text.text-left
                                a(href="#")
                                    h1 竞彩篮球                       
                                    p 目前暂不开放

                    .col-4.recommend-item 
                        .row
                            .col-5.recommend-img.disabled-game
                                a(href="#")
                                    img(src="images/recommend-img2.png", alt="")
                            .col-7.recommend-text.text-left
                                a(href="#")
                                    h1 竞彩足球                         
                                    p 目前暂不开放 
                    .col-4.recommend-item
                        .row
                            .col-6.recommend-img
                                
    .col-3.c2-right
        .row.setting
          .col-6.setting-item
            a(href='#')
              img(src='images/setting-1.png', alt='')               
              h1.text-center 充积分         
          .col-6.setting-item
            a(href='#')
              img(src='images/setting-2.png', alt='')            
              h1.text-center 换彩分
          .col-6.setting-item
            a(href='#')
              img(src='images/setting-3.png', alt='')            
              h1.text-center 购买历程    
          .col-6.setting-item
            a(href='#')
              img(src='images/setting-4.png', alt='')                
              h1.text-center 兑换历程
        .row.news
                nav.nav-tabs-container
                    #nav-tab.nav.nav-tabs(role='tablist').text-center
                        a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') 
                            .icon
                                img(src="images/icon/009-list.png", alt="")
                            |公告
                        
                        a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') 
                            .icon
                                img(src="images/icon/007-new.png", alt="")
                            |新功能
                #nav-tabContent.tab-content
                    #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab') 
                        ul
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告彩票网银提现业务升级维护公
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告

                    #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
                        ul
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告        


        //- .recommend.ad
        //-     .col-12.content
        //-         .swiper-container.mid-swiper
        //-             .swiper-wrapper
        //-                 .swiper-slide 
        //-                     img(src="images/ad/ad1-img1.jpg", alt="")
        //-                 .swiper-slide 
        //-                     img(src="images/ad/ad1-img1.jpg", alt="")
                        
        //-             .swiper-pagination
        //-             .swiper-button-prev
        //-             .swiper-button-next              

            
                            
