.row
    .col-3
        .lotterynav
            ul
                li
                    dl
                        dt 福彩
                        dd
                            a(href="#") 雙色球
                        dd
                            a(href="#") 七樂彩
                        dd
                            a(href="#") 福彩3D
                li
                    dl
                        dt 體彩
                        dd
                            a(href="#") 大樂透
                        dd
                            a(href="#") 七星彩
                        dd
                            a(href="#") 拍列3
                        dd
                            a(href="#") 拍列5
                li
                    dl
                        dt 高频
                        dd
                            a(href="#") 11選5
                        dd
                            a(href="#") 快3

                li
                    dl
                        dt 競足
                        dd
                            a(href="#") 混和過關
                        dd
                            a(href="#") 勝平負
                        dd
                            a(href="#") 猜冠軍
                li
                    dl
                        dt 競籃
                        dd
                            a(href="#") 混和過關
                        dd
                            a(href="#") 讓分勝負

                        

    .col-6.swiper-frame
        .swiper-container.top-swiper
            .swiper-wrapper
                .swiper-slide 
                    img(src="images/banners/slider-1.jpg", alt="")
                .swiper-slide 
                    img(src="images/banners/slider-2.jpg", alt="")
                
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
    .col-3.login-frame
        .login-info-container

        .login-container
            .row
                .col-12
                    .logintitle
                        img(src="images/logintitle.png", alt="")
                    hr
                    form
                        .input-group.input-group-sm.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-sm.input-group-text 信箱
                            input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')

                        .input-group.input-group-sm.mb-3
                            .input-group-prepend
                                span#inputGroup-sizing-sm.input-group-text 密碼
                            input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-3.verification
                            .input-group-prepend
                                span#inputGroup-sizing-sm.input-group-text 验证
                            input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')
                            .verification-container
                                img(src="images/verificationCode.jpg", alt="")
                            .verification-reflash
                                i.fas.fa-sync-alt
                        .row.tips
                            .col-12    
                                small
                                    a(href="") 忘記密碼了？
                        .row
                            .col-6
                                a.btn.login(href="") 登入
                            .col-6
                                a.btn.signup(href="") 註冊
                        //- .row.login-pay-container
                        //-     .offset-3.col-6.mt-3
                        //-         a(href="")
                        //-             img(src="images/pay/WEIXINJSAPI.png", alt="")
                        //-             | 微信登入
                        .row.login-pay-container
                            .offset-3.col-6.mt-3
                                a(href="")
                                    img(src="images/pay/accountlogin.png", alt="")
                                    | 帳號登入
                                                        
                    

                    

                
