.row.column3
    .col-9.c3-left
        .recommend
            .col-12.title.justify-content-between
                h1 最熱彩票
                .more
                    a(href="#") 更多訊息...

            .col-12.content
                .row
                    .col-4.recommend-item 
                        .row
                            .col-6.recommend-img
                                a(href="#")
                                    img(src="images/recommend-img1.png", alt="")
                            .col-6.recommend-text.text-left
                                a(href="#")
                                    h1 竞彩篮球                       
                                    p 只猜胜负易中奖

                    .col-4.recommend-item 
                        .row
                            .col-6.recommend-img
                                a(href="#")
                                    img(src="images/recommend-img2.png", alt="")
                            .col-6.recommend-text.text-left
                                a(href="#")
                                    h1 竞彩足球                         
                                    p 返奖率最高73％  
                    .col-4.recommend-item
                        .row
                            .col-6.recommend-img
                                a(href="#")
                                    img(src="images/recommend-img3.png", alt="")
                            .col-6.recommend-text.text-left
                                a(href="#")
                                    h1 双色球                         
                                    p 2元赢取1000万    
        .recommend.ad
            .col-12.content
                .swiper-container.mid-swiper
                    .swiper-wrapper
                        .swiper-slide 
                            img(src="images/ad/ad1-img1.jpg", alt="")
                        .swiper-slide 
                            img(src="images/ad/ad1-img1.jpg", alt="")
                        
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next
                        


    .col-3.c3-right
            .row.news
                nav.nav-tabs-container
                    #nav-tab.nav.nav-tabs(role='tablist').text-center
                        a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') 
                            .icon
                                img(src="images/icon/009-list.png", alt="")
                            |公告
                        
                        a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') 
                            .icon
                                img(src="images/icon/007-new.png", alt="")
                            |新功能
                #nav-tabContent.tab-content
                    #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab') 
                        ul
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告彩票网银提现业务升级维护公
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告

                    #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
                        ul
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                            li 
                                a(href="#") 彩票网银提现业务升级维护公告
                    





