.row.column5
    .col-12.ad-containter
        .swiper-container.bot-swiper
          .swiper-wrapper
            .swiper-slide
              img(src='images/ad/ad2-img1.jpg', alt='')            
            .swiper-slide
              img(src='images/ad/ad2-img1.jpg', alt='')           
          .swiper-pagination          
          .swiper-button-prev
          .swiper-button-next