.row.column4
    .col-9.c4-left
        .follow.recommend
            .col-12.title.justify-content-between
                h1 跟著高手買
                .more
                    a(href="#") 更多訊息...

            .col-12.content
                .row
                    #nav-follow.nav.nav-tabs(role='tablist').text-center
                        a#nav-follow1.nav-item.nav-link.active(data-toggle='tab', href='#nav-follow1-content', role='tab', aria-controls='nav-home', aria-selected='true') 
                            |竞技彩
                        
                        a#nav-follow2.nav-item.nav-link(data-toggle='tab', href='#nav-follow2-content', role='tab', aria-controls='nav-profile', aria-selected='false') 
                            |数字彩
                        a#nav-follow3.nav-item.nav-link(data-toggle='tab', href='#nav-follow3-content', role='tab', aria-controls='nav-profile', aria-selected='false') 
                            |数字彩
                    .follow-more
                        a(href="#") 更多...
                    #nav-tabContent.tab-content
                        #nav-follow1-content.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-follow1') 
                            table.table.table-striped
                                thead
                                    tr
                                    th 彩种
                                    th 发起人
                                    th 跟单人数
                                    th 30日中奖次数	
                                    th 起购金额	
                                    th 跟单倍数
                                    th 累计中奖金额
                                    th 操作
                                tbody
                                    tr
                                    td 七星彩
                                    td F******T
                                    td 6人
                                    td 1
                                    td 2元
                                    td 
                                        input(type="text")
                                    td 1475.10元
                                    td 
                                        button.btn.follow-btn 立即領取
                                    tr 
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn.follow-btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn.follow-btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn.follow-btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn.follow-btn 立即領取



                        #nav-follow2-content.tab-pane.fade(role='tabpanel', aria-labelledby='nav-follow2')
                            table.table.table-striped
                                thead
                                    tr
                                    th 彩种
                                    th 发起人
                                    th 跟单人数
                                    th 30日中奖次数	
                                    th 起购金额	
                                    th 跟单倍数
                                    th 累计中奖金额
                                    th 操作
                                tbody
                                    tr
                                    td 七星彩
                                    td F******T
                                    td 6人
                                    td 1
                                    td 2元
                                    td 
                                        input(type="text")
                                    td 1475.10元
                                    td 
                                        button.btn 立即領取
                                    tr 
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                        #nav-follow3-content.tab-pane.fade(role='tabpanel', aria-labelledby='nav-follow3')
                            table.table.table-striped
                                thead
                                    tr
                                    th 彩种
                                    th 发起人
                                    th 跟单人数
                                    th 30日中奖次数	
                                    th 起购金额	
                                    th 跟单倍数
                                    th 累计中奖金额
                                    th 操作
                                tbody
                                    tr
                                    td 七星彩
                                    td F******T
                                    td 6人
                                    td 1
                                    td 2元
                                    td 
                                        input(type="text")
                                    td 1475.10元
                                    td 
                                        button.btn 立即領取
                                    tr 
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取
                                    tr
                                        td 七星彩
                                        td F******T
                                        td 6人
                                        td 1
                                        td 2元
                                        td 
                                            input(type="text")
                                        td 1475.10元
                                        td 
                                            button.btn 立即領取

    .col-3.c4-right
            .focusrace.recommend
                .col-12.title.title.justify-content-between
                    h1 焦點賽事
                    .more
                        a(href="#") 更多訊息...
                .col-12.content
                    .row.focusrace-item
                            .col-5.text-center.focus-item-img
                                .icon-64-football
                                p 日本天皇杯
                            .col-7.focus-item-text.text-center
                                h1 冈山绿雉 vs 町田泽维
                                p 开赛 06.06 星期三 00:00
                                a(href="#").btn 投注鏡足
                                a(href="#").btn 投注單場
                    .row.focusrace-item
                            .col-5.text-center.focus-item-img
                                .icon-64-basketball
                                p 日本天皇杯
                            .col-7.focus-item-text.text-center
                                h1 冈山绿雉 vs 町田泽维
                                p 开赛 06.06 星期三 00:00
                                a(href="#").btn 投注鏡足
                                a(href="#").btn 投注單場
                    .row.focusrace-item
                            .col-5.text-center.focus-item-img
                                .icon-64-baseball
                                p 日本天皇杯
                            .col-7.focus-item-text.text-center
                                h1 冈山绿雉 vs 町田泽维
                                p 开赛 06.06 星期三 00:00
                                a(href="#").btn 投注鏡足
                                a(href="#").btn 投注單場