doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 梦想旺彩
    link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
    link(rel="icon",href="/favicon.icon",type="images/x-icon")

    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='styles/bootstrap.min.css')
    link(rel="stylesheet", href="styles/swiper.min.css")
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.1.0/css/all.css",integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt",crossorigin="anonymous")
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    include ./nav.pug
    include ./secnav.pug
    include ./trdnav.pug
    //- include ./notify.pug
    .container
      block content
    include ./footer.pug

        

    // Google Analytics: change UA-XXXXX-X to be your site's ID.


    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='scripts/jquery-ui.min.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/bootstrap/dist/js/popper.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/swiper/dist/js/swiper.min.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='/bower_components/slidernav/hoverSlippery.js')
    
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild