.container-fluid.footer-container
    .container
        .row.footer
            .col-10.footer-left.d-flex
                .row
                    .col-5.footer-logo
                        img(src="./images/logo.png", alt="")
                        img(src="./images/lettering.png", alt="")
                    .col-7.footer-text Super8對接入的所有平台均經過嚴格的篩選，只選用國際知名線上博彩平台。保證讓每位玩家在一個公平、公正的環境下進行遊戲。Super8技術工程專業從事於網路博彩遊戲平台開發，核心成員均有著成功的Web技術開發和商務拓展經驗，我們善於運用新技術解決客戶的難題，更能提供客戶需求以外的附加價值。我們不僅致力於技術的研發與創新，更具有博彩行業專案管理方案，擁有最成熟的研發團隊及前瞻的平台運營理念，為客戶帶來最大的利益才是我們存在的價值。作為一家線上博彩解決方案服務商，專注於技術的研發，以滿足客戶需求為基礎，是Super8堅持的理念。現今市場的快速變化且多樣化的需求，以創新的API介接技術滿足客戶的不同需求，為客戶量身打造專屬線上娛樂平台，用最快速度進入市場搶得先機，您加入Super8，將會是最明智的選擇。歡迎與我們聯絡！
            .col-2.footer-right
                p Mobile暢玩
                img(src="./images/qrcode.svg", alt="")
.container-fluid.footer-bottom-container
    .container
        .footer-bottom.text-center Copyright © 2018 s8娛樂城 - super8 娛樂官網 | 最佳線上博奕選擇


