.row
    .container.d-flex.justify-content-center
        .col-7.single-column-container
            .single-column-title.text-center
                h1 忘記密碼
            .single-column-content
                h5.forget-des 请输入帐号，我们将新密码传送至您手机
                .form-group.row
                    label.col-3.col-form-label(for="code") 用户帐号
                    .col-5
                        input.form-control(type="text",value="",id="code")
                    .col-4
                        

                .row.d-flex.justify-content-center.mb-4
                    .col-8.mt-4
                        button.btn.btn-success.btn-lg.btn-block.p-2 发送新密码至手机                      
