.row
    .container
        .col-12.pay-container
            .col-3.pay-left.gamepoint-left
                h1 轉點進入遊戲
            .col-9.pay-right.gamepoint-right
                form.gamepoint-container
                    .form-group.error-container
                        .error.col-2
                            img(src="images/error.png", alt="")
                        .error-text.col-5
                            h3 进入游戏失败
                    .form-group.gamepoint-title
                       
                        p.gamepoint-text 中心錢包點數
                            strong 9,400
                            i.fa.fa-long-arrow-alt-right
                            |歐伯亞洲廳 剩余點數
                            strong 9,400
                    .form-group
                        label.col-2.form-label.pr-0(for="inputmoney") 轉點點數：
                        .col-4
                            input.form-control(type="text",id="inputmoney",placeholder="請在此輸入金額")
                        button.col-4.mr-0.btn.btn-orange(type="submit") 轉點並進入遊戲
                    .form-group.money-select
                        .col-12
                            button.btn.btn-success.btn-lg 10
                            button.btn.btn-success.btn-lg 30
                            button.btn.btn-success.btn-lg 50
                            button.btn.btn-success.btn-lg 100
                    
                        .col-12
                            button.btn.btn-success.btn-lg 300                           
                            button.btn.btn-success.btn-lg 500                              
                            button.btn.btn-success.btn-lg 1000
                            button.btn.btn-success.btn-lg 全部                                                            
                    .form-group.gamepoint-submit

                        .col-5
                            button.btn.btn-block.btn-secondary 直接進入遊戲

                    
                                

