.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 如何修改身份信息
                        p 
                            i.fas.fa-star
                            | 欢迎来到梦想旺彩，点击
                            span.text-info 登入
                        img(src="images/helper/modifyprofile-1.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 点击
                            span.text-info 会员中心
                        img(src="images/helper/modifyprofile-2.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 进入会员中心，即可修改资料
                        img(src="images/helper/modifyprofile-3.jpg", alt="")                        


