.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 单式投注和复式投注是什么？
                        p.helper-text 什么是单式投注？
                        p.helper-text 单式投注是最基本的投注形式，即购买者根据相应彩票的规则直接选择规定数量的号码组成一注彩票。
                        p.helper-text 什么是复式投注？
                        p.helper-text 复式投注相对于单式投注而言的，指购买者在购买彩票时，选择超过常规开奖的号码个数，并组成一组的投注方式。超过规定数量的号码会依据规定的开奖号码个数排列组合成多注彩票，在提高中奖机会的同时，投注金额也会相应增加。
                        p.helper-text 以双色球为例，6个红球和1个篮球组成一注选号，当红球个数超出6个或篮球个数超出1个的选号，即为复式选号。故复式会包括红色球号码复式、蓝色球号码复式。









