.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 如何在梦想彩票进行冲积分和换彩金？
                        p 
                            i.fas.fa-star
                            | 冲积分-欢迎来到梦想旺彩，点击
                            span.text-info 登入
                        img(src="images/helper/modifyprofile-1.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 点击
                            span.text-info 会员中心
                        img(src="images/helper/modifyprofile-2.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 进入会员中心，点选冲积分，选择冲积分方式与额度
                        img(src="images/helper/deposit-1.jpg", alt="")    

                        p 
                            i.fas.fa-star
                            | 换彩金-欢迎来到梦想旺彩，点击
                            span.text-info 登入
                        img(src="images/helper/modifyprofile-1.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 点击
                            span.text-info 会员中心
                        img(src="images/helper/modifyprofile-2.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 进入会员中心，点选冲积分，选择冲积分方式与额度
                        img(src="images/helper/withdraw-1.jpg", alt="")                      


