
.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container
                .form-group.row.member-content-title
                    .col-12

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 如何找回密码
                        p 
                            i.fas.fa-star
                            |点
                            span.text-info 忘记密码了？
                        img(src="images/helper/findcode-1.jpg", alt="")
                        p 
                            i.fas.fa-star
                            |输入帐号，即可送新密码至您的手机中
                        img(src="images/helper/findcode-2.jpg", alt="")


