.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 福利彩票时时彩限号规则
                        img(src="images/problems/3-1.jpg", alt="")
                        p.helper-text 根据财政部办公厅《关于电脑福利彩票时时彩游戏规则及附则的通知》精神，文件编号财办综[2004]231号，对每期全部投注号码的可投注数量实行实时动态变化管理，为了加强对“时时彩”的销售管理，在“时时彩”销售中，将对每种投注方式相对应的每注投注号码的当前允许销售的最大投注注数，按如下规则进行动态限制。
                        p.helper-text 一、规则描述：
                        p.helper-text 1、 初始限制：初始限制是指，当某种投注方式的投注数为零时，每种投注方式相对应的每注投注号码允许销售的最大投注注数。具体设置如下：
                        p.helper-text ①一星投注方式：对应每注投注号码初始限制注数为50000注;          
                        p.helper-text ②二星投注方式：对应每注投注号码初始限制注数为5000注;
                        p.helper-text ③三星投注方式：对应每注投注号码初始限制注数为500注;
                        p.helper-text ④五星投注方式：对应每注投注号码初始限制注数为50注;
                        p.helper-text 2、 动态实时限制：
                        p.helper-text 动态实时限制是指在销售过程中，每种投注方式相对应的任意一注投注号码的即时允许销售注数，将随着该投注方式销售总额的变化，按规定的算法进行动态计算并加以限制的过程。其算法为：每种投注方式动态实时限制的注数，等于初始限制注数加上本期该种投注方式当前销售总额的50%除以该种投注方式所对应的单注中奖后派发的最大中奖奖金后的取整数之和。
                        p.helper-text 3、 动态限制后的投注，任意一个投注号码的投注，当：①所选号码的投注总数，如不超过该种投注方式所规定的投注动态限制的注数时，均视为有效投注;②所选号码的投注总数，如已超过该种投注方式所规定的投注动态限制的注数时，均视为无效投注，投注机将不能接受该投注申请
                        p.helper-text 二、 投注限制实例
                        p.helper-text 我们用一个实例来说明上述算法：
                        p.helper-text 三星投注方式对应每注投注号码动态初始限制销售注数为500注，假设当前三星投注方式票已经销售了 10万元，按 50%派彩计算，则预计应该派发奖金为5万元，三星投注方式单注奖金为1千元，那么动态实时限制为(50000÷1000)= 50 注，那么，当前的投注动态限制为动态初始限制的注数与动态实时限制的注数之和，即( 500 + 50)= 550注;如果某注三星投注方式的投注号码已经销售了400注，则此时系统还可接受销售150注的申请。
                        p.helper-text 由于受到限制，申请购买的号码没有买到，但是如其它的三星投注方式投注号码的销售此时已经动态增加了，使得总的销售达到20万元。则当前的投注动态限制提高到600注，该三星投注方式的投注号码可以购买的注数也相应提高到200注。;
                        p.helper-text 附：限号示例;
                        p.helper-text 官方限号号码：5|6|1 限号玩法：三星直选对含有被限号码的投注(或追号方案)，梦想旺彩将在当期官方截止时间前，对这些方案做撤单返款处理。因限号原因导致无法完成交易的订单，梦想旺彩除撤单返款外，不承担任何其它责任。             




