.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 推广合作
                        p.helper-text 梦想旺彩游戏正在盛大招募合作伙伴，提供梦想体彩、高频彩、足彩、竞彩等彩票开奖/投注/手机积分兑彩等服务的综合互联网彩票交易平台。
                                        
                        p.text-bottom 商务合作QQ号：00886900114173









