.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 怎样查看我买的彩票有没有中奖？
                        p.helper-text 每期开奖结果公布之后，登陆梦想旺彩通帐号，进入"我的账户"，在"我的投注记录"中即可查询用户投注的方案的中奖及奖金情况。









