.card 
    .card-header.text-white.bg-warning 
        a.text-white(href="#") 彩票
    ul.list-group.list-group-flush
        li.list-group-item 
            a(href="helper-lottery-fu.html") 福彩3D
        li.list-group-item 
            a(href="helper-lottery-a3.html") 排列三
        li.list-group-item 
            a(href="helper-lottery-a5.html") 排列五
        li.list-group-item 
            a(href="helper-lottery-big.html") 大乐透
        li.list-group-item 
            a(href="helper-lottery-double.html") 双色球                        
        li.list-group-item 
            a(href="helper-lottery-sevenstar.html") 七星
        li.list-group-item 
            a(href="helper-lottery-elevenpickfive.html") 广东11选5
        li.list-group-item 
            a(href="helper-lottery-sevenla.html") 七乐彩
                                                          
    .card-header.text-white.bg-warning 
        a.text-white(href="helper-lotteryclassification.html") 竞彩足球
    ul.list-group.list-group-flush
        li.list-group-item 
            a(href="helper-lotterysoccer-1.html") 胜平负
        li.list-group-item 
            a(href="helper-lotterysoccer-2.html") 比分
        li.list-group-item 
            a(href="helper-lotterysoccer-3.html") 总进球数
        li.list-group-item 
            a(href="helper-lotterysoccer-4.html") 半全场
        //- li.list-group-item 
        //-     a(href="helper-lotterysoccer-5.html") 猜冠军      
        li.list-group-item 
            a(href="helper-lotterysoccer-6.html") 混合过关               
        li.list-group-item 
            a(href="helper-lotterysoccer-7.html") 让球胜平负      
        //- li.list-group-item 
        //-     a(href="helper-lotterysoccer-8.html") 一场智胜                
    .card-header.text-white.bg-warning 
        a.text-white(href="") 竞彩篮球
    ul.list-group.list-group-flush
        li.list-group-item 
            a(href="helper-lotterybasketball-1.html") 胜负
        li.list-group-item 
            a(href="helper-lotterybasketball-2.html") 让分胜负
        li.list-group-item 
            a(href="helper-lotterybasketball-3.html") 胜分差
        li.list-group-item 
            a(href="helper-lotterybasketball-4.html") 大小分
        li.list-group-item 
            a(href="helper-lotterybasketball-5.html") 混合过关            
                     
      
