.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 什么是合买？和值？胆拖？
                        p.helper-text 合买是指由两个或两个以上的个人共同出资购买彩票。合买方案发起人在方案发起时规定每份彩票的金额，参与者根据自身的意愿认购至少一份以上的彩票，方案进度达到100%，方案成交，由本站代理出票。如果参与的合买方案中奖，扣除个人所得税后，根据购买的份额总数计算出每份彩票的奖金，参与者个人所得奖金=购买份数*平均奖金。这种利用募集资金的合买方式能用小资金共同购买大额彩票，降低个人全购高金额彩票的风险。
                        p.helper-text 和值就是基本号码数值的总和。判别号码和值，可以进一步确定和值的范围趋势，从而缩小选号范围。
                        p.helper-text 胆拖指在购买彩票时选出一个或几个号码为胆码，固定以这一个或几个号码与其他号码分别组成单式或者复式号码进行投注，固定不变的号码为胆码，其他变化的号码为拖码，简称胆拖。








