.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 购彩流程

                        p.helper-text.mt-5 1.登入帐号：登入后选择充值积分，进入会员中心
                        img(src="images/helper/howtoplay1.jpg", alt="")

                        p.helper-text.mt-5 2.充值积分：充值所需金额
                        img(src="images/helper/howtoplay2.jpg", alt="")

                        p.helper-text.mt-5 3.选择彩种：选择想玩彩种
                        img(src="images/helper/howtoplay3.jpg", alt="")                        
                     
                        p.helper-text.mt-5 4.选择号码：依照游戏说明，进行投注
                        img(src="images/helper/howtoplay4.jpg", alt="")                               



