.card
    .card-header.text-white.bg-warning 
        a.text-white(href="helper-problems.html") 常见问题    
    .card-header.text-white.bg-warning 
        a.text-white(href="#") 帐户管理
    ul.list-group.list-group-flush
        li.list-group-item 
            a(href="helper-register.html") 如何注册
        li.list-group-item 
            a(href="helper-findcode.html") 如何找回密码
        li.list-group-item 
            a(href="helper-modifyprofile.html") 如何修改身份信息          
    .card-header.text-white.bg-warning 
        a.text-white(href="helper-lotteryclassification.html") 彩种介绍
      
