.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 什么是追号？追号有哪些方式？
                        p.helper-text 追号是指连续多期购买同一个（组）号码或者相同指定金额的机选号码；会员在梦想旺彩平台发起一个任务后，系统将按任务要求连续多期或间或几期地自动购买投注号码，可以是同一个或组号码，也可以是指定金额的机选号码。
                        p.helper-text 追号有哪些方式？
                        p.helper-text 自选追号：由发起人选定自己喜爱的固定几注号码进行追号投注。
                        p.helper-text 机选追号：由发起人指定追号金额我们将根据您指定的金额，每期机选号码帮您自动投注。
                        p.helper-text 追号有哪些规则？
                        p.helper-text 1、用户可以随时发起追号任务；用户进行追号的同时，不影响其他彩票的购买；
                        p.helper-text 2、发起追号任务订单，将一次性扣除追号所需金额，账户余额不满足时，任务将不予发起；
                        p.helper-text 3、当追号任务符合用户设置的追号停止条件时，系统将自动终止追号任务，如还有剩余未追期数，系统将剩余期数的追号金额自动退还到用户购彩账户；








