.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 彩票说明中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helper-lottery-tab.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger  竞彩篮球-混合过关
                        img(src="images/helper/lotterybasketball-1-5.jpg", alt="")
                     


