.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 在平台兑彩中奖后兑奖流程是怎样的？
                        p.helper-text 每期彩票开奖完成后，本平台公布中奖详情后，并把税后奖金在一个工作日内直接返入中奖者在本平台的账户中。您使用本平台服务即视为您同意接受系统自动兑奖。合买大奖兑奖是由本平台系统将合买的税后奖金，按照用户的认购比例将通过系统分发到每个中奖者的帐户中。









