.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 中奖奖金扣税吗？扣多少？
                        p.helper-text 根据彩票管理机构的相关规定，中奖彩票单注奖金超过1万元时，中奖人需要缴纳奖金的20％作为个人偶然所得税；税金由彩票中心代扣代缴。
                        p.helper-text 选择倍投投注时，只要开奖后单注奖金不超过1万元，就算翻倍后奖金超过1万元，也无须缴纳个人偶然所得税。









