.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12

                        h4.text-danger 常见问题
                        .bg-gray
                            p.mt-1 梦想旺彩提供多种彩片玩法，您可以根据下列介绍选择喜欢的彩票：
                            p.mt-1.text-danger 一、超级大奖类
                            p.mt-1.ml-2 双色球：全国最流行，2元中1000万
                            p.mt-1.ml-2 大乐透： 2元中1000万，3元中1600万                        
                            p.mt-1.ml-2 福彩3D：天天开奖，2元中1000                        
                            p.mt-1.ml-2 排列3：天天开奖，2元中1000                       
                            p.mt-1.ml-2 排列5：天天开奖，2元中10万                       
                            p.mt-1.ml-2 七星：每周二、五、日，单注最高奖500万                      
                            p.mt-1.ml-2 七乐：每周一、三、五开奖，单注最高奖500万
                            p.mt-1.text-danger 二、高频快开类
                            p.mt-1.ml-2 广东11选5 :猜对1个号就中奖，每天84期
                            p.mt-1.text-danger 三、体育竞彩类
                            p.mt-1.ml-2 篮球竞彩：NBA球迷首选                    
                            p.mt-1.ml-2 足球竞彩：反奖率高                           
                       

                        .row.mt-5
                            .col-6
                                a(href="helper-problems-1.html")
                                    p.helper-text 彩券的使用规则
                                a(href="helper-problems-2.html")
                                    p.helper-text 银行卡快捷支付限额表                                          
                                a(href="helper-problems-3.html")
                                    p.helper-text 福利彩票时时彩限号规则                                     
                                a(href="helper-problems-4.html")
                                    p.helper-text 高频彩11选5限号规则                                     
                                a(href="helper-problems-5.html")
                                    p.helper-text 付款遇到问题了？                                     
                                a(href="helper-problems-6.html")
                                    p.helper-text 什么是合买？和值？胆拖？ 
                                a(href="helper-problems-7.html")
                                    p.helper-text 兑换后如何查看我的订单？                                                                         
                                a(href="helper-problems-16.html")
                                    p.helper-text 如何领取奖金                                        
                            .col-6               
                                a(href="helper-problems-8.html")
                                    p.helper-text 什么是追号？追号有哪些方式？       
                                a(href="helper-problems-9.html")
                                    p.helper-text 在平台兑彩中奖后兑奖流程是怎样的？                                     
                                a(href="helper-problems-10.html")
                                    p.helper-text 中奖奖金扣税吗？扣多少？                                     
                                a(href="helper-problems-11.html")
                                    p.helper-text 怎样查看我买的彩票有没有中奖？                                     
                                a(href="helper-problems-12.html")
                                    p.helper-text 在平台兑换彩票有没有时间限制？                                     
                                a(href="helper-problems-13.html")
                                    p.helper-text 彩票平台会保护中奖者的信息吗？                                     
                                a(href="helper-problems-14.html")
                                    p.helper-text 单式投注和复式投注是什么？                                     









