.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 兑换后如何查看我的订单？
                        p.helper-text step1、账户中心的投注记录可查看包括彩种金额、时间、中奖情况等信息。
                        img(src="images/problems/7-1.jpg", alt="")








