.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 付款遇到问题了？
                        p.helper-text 1、支付宝或网银页面显示打不开，建议使用Microsoft IE浏览器。
                        p.helper-text 尔网络不通，尝试刷新页面；如果刷新不能解决问题，可能浏览器设置了缓存，请在IE菜单--工具--Internet选项--点击“删除cookies”和“删除文件”，来清除临时文件。升级IE浏览器。
                        p.helper-text 如有条件请您更换一种上网方式或环境，确保网络畅通。
                        p.helper-text 2、银行对每种用户类型都有限额要求，请您确保是否已超过银行限额要求。查看更多








