.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container

                .form-group.row.small-title
                    .col-12
                        h4.text-danger 彩票平台会保护中奖者的信息吗？
                        p.helper-text 您的个人信息是保密的，本站不会公布个人注册信息，请您放心购买。









