
.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 帮助中心
    .container.d-flex.justify-content-center.helper-container.align-items-start
        .col-2.member-tags
            include ./helperTabs.pug
        //- 從此開始
        .col-10.member-column-container
            .single-column-content.member-content-container.helper-content-container
                .form-group.row.member-content-title
                    .col-12
                        h1.text-left 如何在梦想旺彩进行注册和认证？
                .form-group.row.small-title
                    .col-12
                        h4.text-danger 帳號注册
                        p 
                            i.fas.fa-star
                            | 欢迎来到梦想旺彩，点击
                            span.text-info 注册
                            |免费开通兑换彩票账户。
                        img(src="images/helper/regist-1.jpg", alt="")
                        p 
                            i.fas.fa-star
                            | 为保证您的账户安全，注册过程中需要认证短信验证码，立刻完成注册。
                        img(src="images/helper/regist-2.jpg", alt="")
                        h4.text-danger.mt-5 微信注册
                        p 
                            i.fas.fa-star
                            | 欢迎来到梦想旺彩，点击
                            span.text-info 微信登入
                        img(src="images/helper/wechat-regist.jpg", alt="")

                        p 
                            i.fas.fa-star
                            | 以微信扫瞄QRcode，如未注册，即可登入注册画面。如已注册，则可直接登入。
                        img(src="images/helper/wechat-regist2.jpg", alt="")                        
                        p 
                            i.fas.fa-star
                            | 为保证您的账户安全，注册过程中需要认证短信验证码，立刻完成注册。
                        img(src="images/helper/regist-2.jpg", alt="")                            


