.row
    .col-12.map-container
        .row.justify-content-center
            .col-3.nopadding
                ul
                    li
                        dl
                            dt.d-flex.align-items-center
                                .icon-20-map1 
                                p 領取流程
                            dd
                                a(href="helper-register.html") 注册流程
                            dd
                                a(href="helper-deposit.html") 充值积分
                            dd
                                a(href="helper-deposit.html") 提领彩金
                            dd
                                a(href="helper-deposit.html") 购彩流程                                
                            //- dd
                            //-     a(href="") 如何兑奖
            //- .col-2.nopadding
            //-     ul
            //-         li
            //-             dl
            //-                 dt.d-flex.align-items-center
            //-                     .icon-20-map2
            //-                     p 領取彩票方式
            //-                 dd
            //-                     a(href="http://caipiao.1768.com/index.php?act=novicehelp&st=newscontent&id=2222") 万里通积分领取
            //-                 dd
            //-                     a(href="http://caipiao.1768.com/index.php?act=novicehelp&st=newscontent&id=2222") 欢乐值(T点)领取
            //-                 dd
            //-                     a(href="http://caipiao.1768.com/index.php?act=novicehelp&st=newscontent&id=2222") 红包领取
            //-                 dd
            //-                     a(href="http://caipiao.1768.com/index.php?act=novicehelp&st=newscontent&id=2222") 优惠券领取
            .col-3.nopadding
                ul
                    li
                        dl
                            dt.d-flex.align-items-center
                                .icon-20-map3
                                p 幫助中心
                            //- dd
                            //-     a(href="http://caipiao.1768.com/index.php?act=novicehelp&st=newscontent&id=379") 消费抵用券说明
                            dd
                                a(href="helper-problems.html") 常见问题
                            dd
                                a(href="helper-modifyprofile.html") 如何修改身份信息                                
                            dd
                                a(href="helper-problems.html") 我没买过彩票，怎么玩                                                              
                            
            .col-3.nopadding
                ul
                    li
                        dl
                            dt.d-flex.align-items-center
                                .icon-20-map4
                                p 玩法說明
                            dd
                                a(href="helper-lotteryclassification.html") 彩种介绍
                            dd
                                a(href="helper-lottery-fu.html") 福彩3D
                            dd
                                a(href="helper-lottery-a3.html") 排列3
                            dd
                                a(href="helper-lottery-big.html") 大乐透

            .col-3.nopadding
                ul
                    li
                        dl
                            dt.d-flex.align-items-center
                                .icon-20-map5
                                p 商務合作
                            dd
                                a(href="helper-contact.html") 彩票联运
                            dd
                                a(href="helper-contact.html") 推广合作

            //- .col-2.nopadding
            //-     ul
            //-         li
            //-             dl
            //-                 dt.d-flex.align-items-center
            //-                     .icon-20-map6
            //-                     p 移動客戶端
            //-                 dd
            //-                     a(href="#") 彩票手机版
            //-                 dd
            //-                     a(href="#") 彩票客户端下载
            //-                 dd
            //-                     a(href="#") 福游戏IOS版
            //-                 dd
            //-                     a(href="#") 游戏Android版