ul
                li 
                    a.active(href="#") 
                        i.fa.fa-user
                        |以下可用MaterialUi-Tabs
                li 
                    a.active(href="index.html") 
                        i.fa.fa-user
                        |会员资料设定
                li 
                    a(href="deposit.html") 
                        i.fa.fa-sign-in-alt
                        |冲积分
                //- li 
                //-     a(href="depositRecord.html") 
                //-         i.fa.fa-edit
                //-         |冲积分记录
                li 
                    a(href="withdraw.html") 
                        i.fa.fa-sign-out-alt
                        |换彩金
                //- li 
                //-     a(href="withdrawRecord.html") 
                //-         i.fa.fa-edit
                //-         |换彩金记录
                li 
                    a(href="transfer.html") 
                        i.fa.fa-exchange-alt
                        |转点
                li 
                    a(href="transferRecord.html") 
                        i.fa.fa-edit
                        |转点纪录
                li 
                    a(href="transferRecord.html") 
                        i.fa.fa-chart-line
                        |投注记录                