.container-fluid.topNav
    .container
        .row
            .col-4
                ul.nav.justify-content-start
                    li.nav-item
                        a.nav-link.active(href='#') super8
                    li.nav-item
                        a.nav-link(href='#') 遊戲
                    li.nav-item
                        a.nav-link(href='#') 連結

            .col-8
                ul.nav.justify-content-end
                    li.nav-item
                        p 歡迎sdafdsaf登入
                    li.nav-item
                        a.nav-link.active(href='#') 註冊
                    li.nav-item
                        a.nav-link(href='#') 登入
                    li.nav-item
                        a.nav-link(href='#') 冲积分
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 我的彩票
                        .dropdown-menu
                            a.dropdown-item(href='#') 充值
                            a.dropdown-item(href='#') 我的投注
                            a.dropdown-item(href='#') 帳戶詳情
                            //.dropdown-divider
                            a.dropdown-item(href='#') 認證
                    li.nav-item
                        a.nav-link(href='#') 我的遊戲
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 幫助中心
                        .dropdown-menu
                            a.dropdown-item(href='#') 新手幫助
                            a.dropdown-item(href='#') 玩法介紹
                            a.dropdown-item(href='#') 在線客服
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 語系
                        .dropdown-menu
                            a.dropdown-item(href='#') 繁體中文
                            a.dropdown-item(href='#') 簡體中文
                            a.dropdown-item(href='#') 越南語

            
