.container-fluid.secnav
    .container
        .row.justify-content-between
            .col-4.logo
                a(href="")
                    img(src="./images/logo.png", alt="")
                    img(src="./images/lettering.png", alt="")
                   
            .col-3.contact
                span.contact
                        img(src="./images/contact.png", alt="")

            
