.container-fluid.signin-container
    .row.d-flex.justify-content-end
        .signin-content
            h3.text-center 登入


            .form-group.signinpage-wechat
                img(src="images/wechatloginqrcode.jpeg", alt="") 
                p.text-danger 登入錯誤訊息  


                
            .row.d-flex.justify-content-center
                    .col-7
                        button.btn.btn-success.btn-lg.btn-block.p-2 登入  
                        .forget.d-flex.justify-content-start
                            a(href="#")
                                span.text-mute 忘记帐号?
                            a(href="#")
                                span.text-mute 忘记密码?
            .line     
            .row.d-flex.justify-content-center.forget.align-items-center
                    h4 帳號登入
                    .fastlogin-item
                        a(href="#")
                            i.fa.fa-user.fa-2x
                

                        