.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 会员中心
    .container.d-flex.justify-content-center.member-container.align-items-start
        .col-2.member-tags
            include ./memberTabs.pug
        .col-10.member-column-container
            .single-column-content.member-content-container
                .form-group.row.member-content-title
                    .col-12
                        h1.text-left 转点
                .form-group.row.small-title
                    .col-12
                        h4 
                            i.fa.fa-tag
                            | 帳號：
                            span.big-text dfadfsdfa
                            | 點數：
                            span.big-text 2234324432

                .row
                    .col-12.transfer-tabs-container
                        input(type="radio",name="tabs",id="tabone",checked="checked")
                        label(for="tabone") 
                            i.fa.fa-sign-in-alt 
                            | 转回錢包
                        .transfer-tab-content   
                            .row
                                .col-4.pl-0
                                    button.btn.btn-success.btn-lg.btn-block 一键转回
                            .row
                                table.table.table-bordered.table-hover
                                    thead
                                        tr.table-bg-orange

                                            th(scope="col") 平台
                                            th(scope="col") 余额
                                            th(scope="col") 转点点数
                                            th(scope="col") 确认
                                    tbody
                                        tr

                                            td 打打捕魚
                                            td 1000
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 转回錢包
                                        tr

                                            td 歐伯
                                            td 0
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 转回錢包
                                        tr

                                            td AG
                                            td 100
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 转回錢包                                                                                        


                        input(type="radio",name="tabs",id="tabtwo")
                        label(for="tabtwo")
                            i.fa.fa-sign-out-alt 
                            | 转入游戏
                        .transfer-tab-content   
                            .row
                                .col-4.pl-0
                                    button.btn.btn-success.btn-lg.btn-block 一键转出 
                            .row
                                table.table.table-bordered.table-hover
                                    thead
                                        tr.table-bg-orange  

                                            th(scope="col") 平台
                                            th(scope="col") 余额
                                            th(scope="col") 转点点数
                                            th(scope="col") 确认
                                    tbody
                                        tr

                                            td 打打捕魚
                                            td 1000
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 轉入歐博
                                        tr

                                            td 歐伯
                                            td 0
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 转入沙龍
                                        tr

                                            td AG
                                            td 100
                                            td 
                                                input.form-control(type="number",value="",placeholder="请输入转点数量") 
                                            td 
                                                button.btn.btn-success.btn-block.btn-lg 转入夢幻娛樂城                                                                                                   

                