.container-fluid.trdnav
    .container
      nav.col-6.nav.underline
        ul.target.col-10.slippery-bottom
          li.nav__item
            a(href='#') 首页       
          li.nav__item
            a(href='#') 购买历程
          li.nav__item
            a(href='#') 会员中心
        .slippery-bottom__border

      
      