.row
    .container.member-title
        .row.d-flex.justify-content-center
            h1 会员中心
    .container.d-flex.justify-content-center.member-container.align-items-start
        .col-2.member-tags
            include ./memberTabs.pug
        .col-10.member-column-container
            .single-column-content.member-content-container
                .form-group.row.member-content-title
                    .col-12
                        h1.text-left 换彩金
                .form-group.row.small-title
                    .col-12
                        h4 
                            i.fa.fa-tag
                            | 帳號：
                            span.big-text dfadfsdfa
                            | 點數：
                            span.big-text 2234324432
                            | 彩金：
                            span.big-text 22


                .form-group.row
                    label.col-3.col-form-label(for="amount") 换彩金额度
                    .col-5
                        input.form-control(type="number",value="",id="amount",placeholder="请输入换彩分额度") 
                    .col-4
                        p.form-text.text-muted 
                .form-group.row
                    label.col-3.col-form-label(for="bankaccount") 身份证字号
                    .col-5
                        input.form-control(type="text",value="",id="withdrawcode",placeholder="请输入身份证字号") 
                    .col-4

                            p.form-text.text-warning 
                .form-group.row
                    label.col-3.col-form-label(for="bankaccount") 换彩金密码
                    .col-5
                        input.form-control(type="number",value="",id="withdrawcode",placeholder="换彩分密码") 
                    .col-4

                            p.form-text.text-warning 请先设定换彩分密码


                .row
                    .col-4.offset-3
                        button.btn.btn-success.btn-lg.btn-block 送出
                    .col-4
                        button.btn.btn-secondary.btn-lg.btn-block 取消


                .form-group.row.member-content-title.pt-5.orange-underline
                    .col-12
                        h1.text-left 兑换历程
                .form-group.row
                    label.col-3.col-form-label(for="period") 时间区间
                    .col-5
                        select.form-control(id="period")
                            option 今天
                            option 昨天
                            option 一周

                .form-group.row
                    img(src="images/material/tabs2.jpg", alt="")                        
                