body
    header.py-5
        .row.d-flex.justify-content-center.align-items-center
            .col-3
                .d-flex.justify-content-end.m-2
                    .logo
            .col-3
                .input-box.m-2
                    .input-box_one.d-flex.justify-content-center
                        .d-flex.flex-column.mb-3
                            label.mb-1(for="") 身高 cm
                            input.w-100(type="number" placeholder="請輸入身高")
                    .input-box_two.d-flex.justify-content-center
                        .d-flex.flex-column.mb-3
                            label.mb-1(for="") 體重 kg
                            input.w-100(type="number" placeholder="請輸入體重")
            .col-3
                .result.d-flex.justify-content-left.m-2
                    .result-btn 看結果
    .container
        .row
            .col-12
                h3.my-5 BMI 紀錄
            .col-12.content.mb-5
    .footer



        
    