@import "_animate.scss";

//變量 主色系
$m-dark: #272727;
$m-gray: #555555;
$m-grayLight: #666666;
$m-light: #e0e0e0;
$m-blue: #007bff;
$m-blueLight: #00beff;
$m-skin: #ce6563;

//主色系
.m-dark{ color: #272727;}
.m-gray{ color: #555555;}
.m-grayLight{ color: #666666;}
.m-light{ color: #e0e0e0;}
.m-blue{ color: #007bff;}
.m-blueLight{ color: #00beff;}
.m-skin{ color: #ce6563;}
.m-hot{ color: #e03c3e;}

//輔色系
.a-grayBlue{ color: #6c757d;}

//變量 高度
$Height-1: 1px;
$height-22: 22px;
$height-48: 48px;
$height-100: 100%;

//圓角
.rounded-left:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-right:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

//連結色
$brightess-dark: brightness(80%);
$brightess-light: brightness(120%);
.link-darkWhite {
  color: white;
  &:hover {
    color: white;
    filter: $brightess-dark;
  }
}
.link-lightBlue {
  color: $m-blue;
  &:hover {
    color: $m-blue;
    filter: $brightess-light;
  }
}
.link-lightGray {
  color: $m-gray;
  &:hover {
    color: $m-gray;
    filter: $brightess-light;
  }
}

//背景色
.bg-grayBlue {
  background-color: #7d8b9e;
}

//顯示隱藏
.show { display: block !important;}
.hide { display: none !important;}

//外距
.mt-48 { margin-top:48px;}

//字級
.font-14 { font-size: 14px; }

.overflow-x {
  overflow-x: auto;
}

body { background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, white 50%, rgba(0, 0, 0, 0.1) 100%);}

//-------------------------nav start
.nav-height {
  height: $height-48;
  transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.nav-height_cover {
  overflow-y: scroll;
  height: $height-100;
  transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
  &:before{
    content: "";
    position: absolute;
    background: $m-gray;
    width: 100%;
    height: 1px;
    top: 48px;
    left: 0;
  }
}

//nav login btn
.nav-login, .nav-mygame {
  display: block;
  width: 22px;
  padding: 13px 0;
  svg {
    display: block;
    height: $height-22;
    fill: #fff;
  }
}

.nav-login_close {
  display: none;
  position: relative; 
  width:$height-22;
  height: $Height-1;
  background:#fff;
  top: 10px;
  transform:rotate(45deg);
  &:before {
    content:'';
    position:absolute; 
    width:$height-22;
    height: $Height-1;
    background:#fff;
    transform:rotate(90deg);
  }
}


.nav-logo {
  display: block;
  background: url(../images/vip-logo.svg) no-repeat center center;
  background-size: contain;
  height: 48px;
  width: 95px;
  margin: auto;
}

//nav menu btn
.nav-menuWrapper {
  display: block;
  width: $height-22;
  padding: 13px 0;
}

.nav-menu{
  display: block;
  position: relative;
  height: $height-22;
  width: $height-22;
  &:before {
    content:'';
    position:absolute; 
    width:$height-22;
    height: $Height-1;
    background:#fff;
    transition: .3s;
    top:4px;
  }
  &:after {
    content:'';
    position:absolute; 
    width:$height-22;
    height: $Height-1;
    background:#fff;
    transition: .3s;
    bottom:4px;
  }
  &:hover {
    filter: $brightess-dark;
  }
  &.nav-menu_close {
    &:before {
      top: 10px;
      transform:rotate(45deg);
    }
    &:after {
      top: 10px;
      transform:rotate(-45deg);
    }
  }
}

// nav menu content
.nav-invisible_menu {
  display: none;
}

.nav-menu_content {
  a{
    display: flex;
    align-items: center;
    width: 100%;
    height: $height-48;
    line-height: $height-48;
    border-bottom: 1px solid $m-gray;
  }
}

.nav-menu_title {
  border: 1px solid $m-gray;
}

.nav-menu_icon {
  width: 25px;
  text-align: center;
}

.nav-menu_svg {
  width: 25px;
  height: 25px;
  fill: white;
  padding: 4px;
}

//nav login contet
.nav-invisible_login {
  @extend .nav-invisible_menu;
}

.nav-login_content {
  display: block;
  left: 0;
  position: fixed;
  margin-top: 48px;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.login-input_i {
  position: absolute;
  top: 15px;
  right: 15px;
}
.login-input_img {
  position: absolute;
  background: url(../images/captcha.png) no-repeat ;
  background-size: contain;
  width: 100px;
  height: 30px;
  top: 6px;
  right: 11px;
}

.login-icon_account {

  position: absolute;
  left: 17px;
  top: 9px;
  &:before{
    content:'';
    position: absolute;
    right: -11px;
    width: 1px;
    height: 25px;
    background: darken($m-light, 10%);
  }
}

//nav balance
.nav-agent {
  background: url(../images/nav-bg_agent.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-app {
  background: url(../images/nav-bg_app.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-electronic {
  background: url(../images/nav-bg_electronic.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-live {
  background: url(../images/nav-bg_live.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-lottery {
  background: url(../images/nav-bg_lottery.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-member {
  background: url(../images/nav-bg_member.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-mygames {
  background: url(../images/nav-bg_mygame.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-promotion {
  background: url(../images/nav-bg_promotion.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
.nav-sport {
  background: url(../images/nav-bg_sport.png) no-repeat center bottom;
  background-size: 216%;
  i{
    color: #d11ee9;
    &:hover {
      filter: $brightess-dark;
    }
  }
}
//-------------------------nav end


//-------------------------slider start
.swiper-container {
  width: 100%;
  height: 140px;  
  img {
    position: absolute;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 140px;
  }
}

@media (min-width: 768px) {
  .swiper-container {
    height: 230px;
    img {
      height: 230px;
    }
  }
}

@media only screen and (orientation: landscape) {
  .swiper-container {
    height: 230px;
    img {
      height: 230px;
    }
  }
}

.swiper-button-prev, .swiper-button-next { 
  transition:0.2s;
  &:hover {
    transform:scale(1.3,1.3);
  }
  &:focus {
    outline: none;
  }
}

.nav-shadow {
  background: url(../images/index-shadow.png) no-repeat top;
  background-size: 100%;
  width: 100%;
  height: 36px;
}
//-------------------------slider end


//-------------------------slider start
.marquee-box {
  position: relative;
  height: 36px;
  line-height: 36px;
}

.marquee-icon {
  fill: $m-gray;
  width: 25px;
  height: 25px;
  position: absolute; 
  text-align: center;
  top: 20%;
  left: 0;
}

.marquee-item {
  width: 100%;
  display: inline-block;
  height: 36px;  
  line-height: 36px;
  left:36px;
  padding: 0 2.5em;
  cursor: pointer;
  color: $m-gray;
  &:hover {
    color: darken($m-gray, 20%);
  }
}

.marquee-item_tit , .marquee-item_con {
  font-weight: 500;
  margin-right: 0.15em;
}
//-------------------------slider end


//-------------------------index main block start
.mainBlock {
  display: block;
  width: 100%;
  text-align: center;
  .mainBlock-cs {
    background: url(../images/index-cs.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;
  }
  .mainBlock-agent {
    background: url(../images/index-agent.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;
  }
  .mainBlock-live {
    background: url(../images/index-live.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;  
  }
  .mainBlock-sport {
    background: url(../images/index-sport.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;  
  }
  .mainBlock-ele {
    background: url(../images/index-ele.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;  
  }
  .mainBlock-lottery {
    background: url(../images/index-lottery.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 160px;  
  }
}
//-------------------------index main block end


//-------------------------footer menu start
.footer-menu-frame {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: white;
  width: 100%;
  box-shadow: 0 0 7px 0 #c7c7c7;
}

.footer-menu-frame > .row > div:first-child > .footer-menu {
  background: #e50852;
}

.footer-menu-frame > .row > div:first-child > .footer-menu >.footer-menu_svg {
  fill: white;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px; 
  &:hover {
    background: #f7e0e8;
  }
}

.footer-menu_svg {
  fill: $m-gray;
  width: 24px;
  height: 24px;
}

.footer-prompt {
  position: relative;
  top: -10px;
  z-index: 1;
  background: #ff5282;
  color: white;
  padding: 0 4px;
  border-radius: 40px;
  font-size: 11px;
}

.footer-copyright {
  padding-bottom: 40px;
  font-size: 14px;
  color: $m-grayLight;
  &::before {
    content: "";
    display: block;
    background-color: #c2c2c2;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
  }
}

.go-top {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid #007bff8a;
  background-color: #ffffff8a;
  border-radius: 99px;
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 99;
  transition: width .2s;
  i {
    width: 100%;
    height: 100%;
    color: $m-blue;
  }
  &:hover {
    border: 1px solid lighten($m-blue, 10%);
    i {
      color: lighten($m-blue, 10%);
    }
  }
}
//-------------------------footer menu end

//-------------------------language start
.language-c {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
  cursor: pointer;
  &::before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background: url(../images/c.png) no-repeat center;
    background-size: 100%;
    width: 30px;
    height: 30px;
  }
}

.language-h {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
  cursor: pointer;
  &::before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background: url(../images/h.png) no-repeat center;
    background-size: 100%;
    width: 30px;
    height: 30px;
  }
}

.language-v {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
  cursor: pointer;
  &::before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background: url(../images/v.png) no-repeat center;
    background-size: 100%;
    width: 30px;
    height: 30px;
  }
}

//-------------------------language end


//-------------------------partner start
.partner-1 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo1.png) no-repeat center;
  background-size:contain;
}
.partner-2 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo2.png) no-repeat center;
  background-size:contain;
}
.partner-3 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo3.png) no-repeat center;
  background-size:contain;
}
.partner-4 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo4.png) no-repeat center;
  background-size:contain;
}
.partner-5 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo5.png) no-repeat center;
  background-size:contain;
}
.partner-6 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo6.png) no-repeat center;
  background-size:contain;
}
.partner-7 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo7.png) no-repeat center;
  background-size:contain;
}
.partner-8 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo8.png) no-repeat center;
  background-size:contain;
}
.partner-9 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo9.png) no-repeat center;
  background-size:contain;
}
.partner-10 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo10.png) no-repeat center;
  background-size:contain;
}
.partner-11 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo11.png) no-repeat center;
  background-size:contain;
}
.partner-12 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo12.png) no-repeat center;
  background-size:contain;
}
.partner-13 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: url(../images/logo/logo13.png) no-repeat center;
  background-size:contain;
}
//-------------------------partner end


//-------------------------member start
.member-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #b0b0b0;
}

.member-info_svg {
  width: 18px;
  height: 18px;
  fill: white;
}

.member-title_svg {
  width: 22px;
  height: 22px;
  fill: $m-gray;
}

.member-svg {
  width: 18px;
  height: 18px;
  fill: $m-blue;
}

.light-pill {
  background:$m-dark;
  li{
    line-height: 40px;
  }
}

.member-input_i {
  position: absolute;
  top: 12px;
  right: 23px; 
}

.member-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #b0b0b0;
  &:last-child() {
    border-bottom: solid 1px #b0b0b0;
  }
}

.member-card_header {
  padding: .75rem 0;
  &:hover {
    transition: 0.3s;
  }
  button{
    background-color: transparent;
    width: 100%;
    &.collapsed {
      i{
        transform: rotate(-180deg);
        transition: 0.4s;
      }
    }
  }
}

.member-card_body {
  padding: .25rem 0;
}

.member-option{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 49px, 0);
  z-index: 1;
  cursor: pointer;
}

.member-option_icon {
  &:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: fixed;
    left: 15px;
    padding-top: 3px;
  }
}

.member-transfer_svg {
  width: 20px;
  height: 20px;
  fill: $m-blue;
}
.member-transfer_svgFill {
  width: 20px;
  height: 20px;
  fill: white;
}

.member-close {
  position: absolute;
  right: 5px;
  top: -13px;
}
.store-logo {
  width: 30px;
  height: 30px;
}

//switch
#switch{
  width: 75px;
  height: 40px;
}

.toggle{
  position: relative;
  border: 1px solid $m-dark;
  border-radius: 4px;
  transition: border-color .6s  ease-out;
}

.toggle{
  &.toggle-on {
    border: 1px solid rgba(0, 122, 255, 0);
    transition: all .5s .15s ease-out;
  }
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #464646;
  border-radius: 4px; 
  cursor: pointer;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on {
  .toggle-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $m-blue;
    transition: all .2s .2s, right .3s;
  }
}

.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  user-select: none;  
  color: rgba(0,0,0,0);
}

.toggle-text-off{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.toggle-on {
  .toggle-text-on {
    color: #fff;
    transition: color .3s .15s ;
  }
  .toggle-text-off{
    color: rgba(0,0,0,0);
  }
}
//-------------------------member end


//-------------------------modal start
.modal-title_svg {
  width: 22px;
  height: 22px;
}
//-------------------------modal end


//-------------------------promotion start
.promotion-img img {
  width: 100%;
}
//-------------------------promotion end


//-------------------------mygame start
.date {
  float: right;
  color: $m-grayLight;
  font-size: 13px;
  line-height: 24px;
}

.block-img {
  width: 100%;
  height: 160px;
  border-radius: 99px; 
  &.block-img_auto {
    background: url(../images/block-comingsoon.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live1 {
    background: url(../images/block-live1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live2 {
    background: url(../images/block-live2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_live3 {
    background: url(../images/block-live3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport1 {
    background: url(../images/block-sport1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport2 {
    background: url(../images/block-sport2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport3 {
    background: url(../images/block-sport3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_sport4 {
    background: url(../images/block-sport4.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery1 {
    background: url(../images/block-lottery1.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery2 {
    background: url(../images/block-lottery2.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery3 {
    background: url(../images/block-lottery3.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_lottery4 {
    background: url(../images/block-lottery4.png) no-repeat center;
    background-size: cover;
  }
  &.block-img_ele2 {
    background: url(../images/block-ele2.png) no-repeat center;
    background-size: contain;
  }
  &.block-img_ele3 {
    background: url(../images/block-ele3.png) no-repeat center;
    background-size: contain;
  }
  img {
    width: 70%;
  }
  &:hover {
    filter: brightness(120%);
    img {
      @extend .jello;
      @extend .animated;
    }
  }
}

@media (min-width: 320px) {
  .block-img {
    height: 130px;
    width: 130px;
  }
}

@media (min-width: 375px) {
  .block-img {
    height: 155px;
    width: 155px;
  }
}

@media (min-width: 768px) {
  .block-img {
    height: 200px;
    width: 200px;
  }
}

.game-favorite {
  width: 20px;
  height: 20px; 
  vertical-align: bottom;
}

.game-favorite > input[type=checkbox], .svg-starfill { display: none;}
.game-favorite > input[type=checkbox]:checked ~ .svg-star     { display: none;}
.game-favorite > input[type=checkbox]:checked ~ .svg-starfill { display: block;}

.game-favorite_frame {
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 36px;
  left: 8px;
  padding-top: 6px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  fill: #fff;
  background: #e03c3e;
  &:hover {
    background: lighten(#e03c3e,10%);
  }
}

//-------------------------mygame end


//-------------------------game page start
.classification-svg {
  width: 17px;
  height: 17px;
  left: 8px;
  fill: $m-skin;
}

.classification-svg_h5 {
  width: 22px;
  height: 22px;
  fill: $m-skin;
}


.logo-1 {
  background: url(../images/logo/logo1.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.logo-2 {
  background: url(../images/logo/logo2.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.logo-3 {
  background: url(../images/logo/logo3.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.logo-4 {
  background: url(../images/logo/logo4.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.logo-5 {
  background: url(../images/logo/logo5.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-6 {
  background: url(../images/logo/logo6.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-7 {
  background: url(../images/logo/logo7.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-8 {
  background: url(../images/logo/logo8.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-9 {
  background: url(../images/logo/logo9.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-10 {
  background: url(../images/logo/logo10.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-11 {
  background: url(../images/logo/logo11.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-12 {
  background: url(../images/logo/logo12.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}
.logo-13 {
  background: url(../images/logo/logo13.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.filter-hotgame {
  background: url(../images/hotgames.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.filter-allgame {
  background: url(../images/allgames.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 40px;
}

.h-55 {
  height: 55px;
}

.border-lightBlue {
  &:hover {
    background-color: #fff;
  }
}

//-------------------------game page end


//-------------------------service start
.agent {
  background: url(../images/agent.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.service-line {
  background: url(../images/service-line.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 200px;
}

.service-yours {
  background: url(../images/service-yours.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 200px;
}
//-------------------------service end


//-------------------------other start
.modal-title_svg {
  width: 40px;
  height: 50px;
  fill: $m-grayLight;
}
//-------------------------other end
