extends layouts/default

block content
  //- register
  //- include ./layouts/helper-register.pug
  //- findcode
  //- include ./layouts/helper-findcode.pug
  //- include ./layouts/helper-modifyprofile.pug
  //- include ./layouts/helper-deposit.pug
  //- include ./layouts/helper-lotteryclassification.pug
  //- include ./layouts/helper-lottery-fu.pug
  //- include ./layouts/helper-lottery-a3.pug
  //- include ./layouts/helper-lottery-a5.pug
  //- include ./layouts/helper-lottery-big.pug
  //- include ./layouts/helper-lottery-double.pug
  //- include ./layouts/helper-lottery-sevenstar.pug
  //- include ./layouts/helper-lottery-elevenpickfive.pug
  //- include ./layouts/helper-lottery-sevenla.pug
  //- include ./layouts/helper-lotterysoccer-1.pug
  //- include ./layouts/helper-lotterysoccer-2.pug  
  //- include ./layouts/helper-lotterysoccer-3.pug  
  //- include ./layouts/helper-lotterysoccer-4.pug  
  //- include ./layouts/helper-lotterysoccer-5.pug  
  //- include ./layouts/helper-lotterysoccer-6.pug  
  //- include ./layouts/helper-lotterysoccer-7.pug  
  //- include ./layouts/helper-lotterysoccer-8.pug 
  //- include ./layouts/helper-lotterybasketball-1.pug
  //- include ./layouts/helper-lotterybasketball-2.pug  
  //- include ./layouts/helper-lotterybasketball-3.pug  
  //- include ./layouts/helper-lotterybasketball-4.pug  
  //- include ./layouts/helper-lotterybasketball-5.pug    
  //- include ./layouts/helper-problems-1.pug
  //- include ./layouts/helper-problems-2.pug  
  //- include ./layouts/helper-problems-3.pug
  //- include ./layouts/helper-problems-4.pug
  //- include ./layouts/helper-problems-5.pug
  //- include ./layouts/helper-problems-6.pug
  //- include ./layouts/helper-problems-7.pug
  //- include ./layouts/helper-problems-8.pug
  //- include ./layouts/helper-problems-9.pug
  //- include ./layouts/helper-problems-10.pug
  //- include ./layouts/helper-problems-11.pug
  //- include ./layouts/helper-problems-12.pug
  //- include ./layouts/helper-problems-13.pug
  //- include ./layouts/helper-problems-14.pug
  //- include ./layouts/helper-problems-15.pug
  //- include ./layouts/helper-problems-16.pug  
  include ./layouts/helper-problems.pug
  //- include ./layouts/helper-contact.pug
  //- include ./layouts/helper-contact1.pug


  include ./layouts/map.pug
