extends layouts/default

block content
  include ./layouts/column1-afterlogin.pug
  include ./layouts/column2.pug
  include ./layouts/column3.pug
  include ./layouts/column4.pug
  include ./layouts/column5.pug
  include ./layouts/map.pug
      