body {
  font-family: SFNSDisplay;
  background: #f6f6f6;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  background: #424242;
}

.logo {
  width: 117px;
  height: 117px;
  background: url(../images/BMICLogo.png) no-repeat;
  background-size: contain;
}

label {
  font-size: 18px;
  color: #FFD366;
}

input {
  height: 40px;
  width: 60%;
  border: 2px solid #FFD366;
  border-radius: 10px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.18);
  font-size: 24px;
  color: #fff;
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.result-btn {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 24px;
  background: #FFD366;
  border-radius: 99px;
  cursor: pointer;
}

.result-btn:hover {
  background: #FFD366;
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.result-btn:active {
  background: #DEA821;
}

.result-show {
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 99px;
}

.level-title {
  margin-left: 1rem;
  line-height: 120px;
  font-size: 32px;
}

.level-value {
  font-size: 32px;
}

.level-content {
  font-family: AppleSystemUIFont;
  font-size: 14px;
}

.level-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 22px;
  border: 3px solid #424242;
  border-radius: 99px;
  cursor: pointer;
}

.color-one_bg {
  background-color: #31BAF9;
}

.color-two_bg {
  background-color: #86D73F;
}

.color-three_bg {
  background-color: #FF982D;
}

.color-four_bg {
  background-color: #FF6C03;
}

.color-five_bg {
  background-color: #FF1200;
}

.color-one_bor {
  border: 6px solid #31BAF9;
}

.color-two_bor {
  border: 6px solid #86D73F;
}

.color-three_bor {
  border: 6px solid #FF982D;
}

.color-four_bor {
  border: 6px solid #FF6C03;
}

.color-five_bor {
  border: 6px solid #FF1200;
}

.color-one {
  color: #31BAF9;
}

.color-two {
  color: #86D73F;
}

.color-three {
  color: #FF982D;
}

.color-four {
  color: #FF6C03;
}

.color-five {
  color: #FF1200;
}

h3 {
  text-align: center;
  font-size: 24px;
  color: #424242;
}

.cal-board {
  position: relative;
  width: 75%;
  height: 62px;
  background: #fff;
}

.cal-board span {
  line-height: 62px;
  vertical-align: top;
}

.icon-cross {
  position: absolute;
  z-index: 1;
  right: -10px;
  top: -5px;
  width: 24px;
  height: 24px;
  background: #919191;
  border-radius: 99px;
  cursor: pointer;
}

.icon-cross:hover {
  transition: .3s;
  background: #585858;
}

.icon-cross::before, .icon-cross::after {
  position: absolute;
  content: "";
  right: 11px;
  top: 4px;
  width: 3px;
  height: 16px;
  background: #f6f6f6;
}

.icon-cross::before {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.icon-cross::after {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.cal-one {
  position: absolute;
  content: "";
  width: 7px;
  height: 62px;
  background: #31BAF9;
  box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
}

.cal-two {
  position: absolute;
  content: "";
  width: 7px;
  height: 62px;
  background: #86D73F;
  box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
}

.cal-three {
  position: absolute;
  content: "";
  width: 7px;
  height: 62px;
  background: #FF982D;
  box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
}

.cal-four {
  position: absolute;
  content: "";
  width: 7px;
  height: 62px;
  background: #FF6C03;
  box-shadow: 2px 0 3px 0 rgba(255, 108, 3, 0.29);
}

.cal-five {
  position: absolute;
  content: "";
  width: 7px;
  height: 62px;
  background: #FF1200;
  box-shadow: 2px 0 3px 0 rgba(255, 18, 0, 0.29);
}

.cal-title, .cal-bmi_set, .cal-kg_set, .cal-cm_set {
  font-size: 20px;
  color: #4A4A4A;
}

.cal-bmi, .cal-kg, .cal-cm, .cal-date {
  font-size: 12px;
  color: #424242;
  padding-right: 0;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: url(../images/BMICLogo2.png) no-repeat center center;
  background-color: #FFD366;
  background-size: 55px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLHlCQUF3QjtFQUN4QixvQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxpQkFBZ0I7RUFDaEIsV0FBVTtDQUNYOztBQUVEO0VBQ0Usb0JBQW1CO0NBQ3BCOztBQUVEO0VBQ0UsYUFBWTtFQUNaLGNBQWE7RUFDYixrREFBaUQ7RUFDakQseUJBQXdCO0NBRXpCOztBQUVEO0VBQ0UsZ0JBQWU7RUFDZixlQUFjO0NBQ2Y7O0FBRUQ7RUFDRSxhQUFZO0VBQ1osV0FBVTtFQUNWLDBCQUF5QjtFQUN6QixvQkFBbUI7RUFDbkIsY0FBYTtFQUNiLHNDQUFxQztFQUNyQyxnQkFBZTtFQUNmLFlBQVc7RUFDWCxjQUFhO0NBQ2Q7O0FBRUQ7RUFDRSxZQUFXO0NBQ1o7O0FBRkQ7RUFDRSxZQUFXO0NBQ1o7O0FBRkQ7RUFDRSxZQUFXO0NBQ1o7O0FBRUQ7RUFDRSxhQUFZO0VBQ1osY0FBYTtFQUNiLG1CQUFrQjtFQUNsQixtQkFBa0I7RUFDbEIsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsb0JBQW1CO0VBQ25CLGdCQUFlO0NBUWhCOztBQWhCRDtFQVVJLG9CQUFtQjtFQUNuQixtREFBK0M7Q0FDaEQ7O0FBWkg7RUFjSSxvQkFBbUI7Q0FDcEI7O0FBR0g7RUFDRSxtQkFBa0I7RUFDbEIsYUFBWTtFQUNaLGNBQWE7RUFDYixtQkFBa0I7RUFDbEIsb0JBQW1CO0NBQ3BCOztBQUVEO0VBQ0Usa0JBQWlCO0VBQ2pCLG1CQUFrQjtFQUNsQixnQkFBZTtDQUNoQjs7QUFFRDtFQUNFLGdCQUFlO0NBQ2hCOztBQUVEO0VBQ0UsK0JBQThCO0VBQzlCLGdCQUFlO0NBQ2hCOztBQUdEO0VBQ0UsbUJBQWtCO0VBQ2xCLFNBQVE7RUFDUixVQUFTO0VBQ1QsWUFBVztFQUNYLGFBQVk7RUFDWixrQkFBaUI7RUFDakIsMEJBQXlCO0VBQ3pCLG9CQUFtQjtFQUNuQixnQkFBZTtDQUNoQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFHRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFHRDtFQUNFLGVBQWM7Q0FDZjs7QUFDRDtFQUNFLGVBQWM7Q0FDZjs7QUFDRDtFQUNFLGVBQWM7Q0FDZjs7QUFDRDtFQUNFLGVBQWM7Q0FDZjs7QUFDRDtFQUNFLGVBQWM7Q0FDZjs7QUFFRDtFQUNFLG1CQUFrQjtFQUNsQixnQkFBZTtFQUNmLGVBQWM7Q0FDZjs7QUFFRDtFQUNFLG1CQUFrQjtFQUNsQixXQUFVO0VBQ1YsYUFBWTtFQUNaLGlCQUFnQjtDQUtqQjs7QUFURDtFQU1JLGtCQUFpQjtFQUNqQixvQkFBbUI7Q0FDcEI7O0FBR0g7RUFDRSxtQkFBa0I7RUFDbEIsV0FBVTtFQUNWLGFBQVk7RUFDWixVQUFTO0VBQ1QsWUFBVztFQUNYLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsb0JBQW1CO0VBQ25CLGdCQUFlO0NBb0JoQjs7QUE3QkQ7RUFXSSxnQkFBZTtFQUNmLG9CQUFtQjtDQUNwQjs7QUFiSDtFQWVJLG1CQUFrQjtFQUNsQixZQUFVO0VBQ1YsWUFBVztFQUNYLFNBQVE7RUFDUixXQUFVO0VBQ1YsYUFBWTtFQUNaLG9CQUFtQjtDQUNwQjs7QUF0Qkg7RUF3QkksNkJBQXdCO01BQXhCLHlCQUF3QjtDQUN6Qjs7QUF6Qkg7RUEyQkksOEJBQXlCO01BQXpCLDBCQUF5QjtDQUMxQjs7QUFJSDtFQUNFLG1CQUFrQjtFQUNsQixZQUFXO0VBQ1gsV0FBVTtFQUNWLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsaURBQTZDO0NBQzlDOztBQUNEO0VBQ0UsbUJBQWtCO0VBQ2xCLFlBQVc7RUFDWCxXQUFVO0VBQ1YsYUFBWTtFQUNaLG9CQUFtQjtFQUNuQixpREFBNkM7Q0FDOUM7O0FBQ0Q7RUFDRSxtQkFBa0I7RUFDbEIsWUFBVztFQUNYLFdBQVU7RUFDVixhQUFZO0VBQ1osb0JBQW1CO0VBQ25CLGlEQUE2QztDQUM5Qzs7QUFDRDtFQUNFLG1CQUFrQjtFQUNsQixZQUFXO0VBQ1gsV0FBVTtFQUNWLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsZ0RBQTRDO0NBQzdDOztBQUNEO0VBQ0UsbUJBQWtCO0VBQ2xCLFlBQVc7RUFDWCxXQUFVO0VBQ1YsYUFBWTtFQUNaLG9CQUFtQjtFQUNuQiwrQ0FBMkM7Q0FDNUM7O0FBRUQ7RUFDRSxnQkFBZTtFQUNmLGVBQWM7Q0FDZjs7QUFFRDtFQUNFLGdCQUFlO0VBQ2YsZUFBYztFQUNkLGlCQUFnQjtDQUNqQjs7QUFFRDtFQUNFLG1CQUFrQjtFQUNsQixVQUFTO0VBQ1QsWUFBVztFQUNYLGFBQVk7RUFDWixpRUFBK0Q7RUFDL0QsMEJBQXlCO0VBQ3pCLHNCQUFxQjtDQUN0QiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBmb250LWZhbWlseTogU0ZOU0Rpc3BsYXk7XG4gIGJhY2tncm91bmQ6ICNmNmY2ZjY7XG59XG5cbnVsIHtcbiAgbGlzdC1zdHlsZTogbm9uZTtcbiAgcGFkZGluZzogMDtcbn1cblxuaGVhZGVyIHtcbiAgYmFja2dyb3VuZDogIzQyNDI0Mjtcbn1cblxuLmxvZ28ge1xuICB3aWR0aDogMTE3cHg7XG4gIGhlaWdodDogMTE3cHg7XG4gIGJhY2tncm91bmQ6IHVybCguLi9pbWFnZXMvQk1JQ0xvZ28ucG5nKSBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjsgXG4gIFxufVxuXG5sYWJlbCB7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgY29sb3I6ICNGRkQzNjY7XG59XG5cbmlucHV0IHtcbiAgaGVpZ2h0OiA0MHB4O1xuICB3aWR0aDogNjAlO1xuICBib3JkZXI6IDJweCBzb2xpZCAjRkZEMzY2O1xuICBib3JkZXItcmFkaXVzOiAxMHB4O1xuICBwYWRkaW5nOiAxcmVtO1xuICBiYWNrZ3JvdW5kOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMTgpO1xuICBmb250LXNpemU6IDI0cHg7XG4gIGNvbG9yOiAjZmZmO1xuICBvdXRsaW5lOiBub25lO1xufVxuXG46OnBsYWNlaG9sZGVyIHtcbiAgY29sb3I6ICNmZmY7XG59XG5cbi5yZXN1bHQtYnRuIHtcbiAgd2lkdGg6IDEyMHB4O1xuICBoZWlnaHQ6IDEyMHB4O1xuICBsaW5lLWhlaWdodDogMTIwcHg7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgZm9udC1zaXplOiAyNHB4O1xuICBiYWNrZ3JvdW5kOiAjRkZEMzY2O1xuICBib3JkZXItcmFkaXVzOiA5OXB4O1xuICBjdXJzb3I6IHBvaW50ZXI7XG4gICY6aG92ZXIge1xuICAgIGJhY2tncm91bmQ6ICNGRkQzNjY7XG4gICAgYm94LXNoYWRvdzogMCAxcHggNnB4IDNweCByZ2JhKDI1NSwxOTYsNTAsMC42NCk7XG4gIH1cbiAgJjphY3RpdmUge1xuICAgIGJhY2tncm91bmQ6ICNERUE4MjE7XG4gIH1cbn1cblxuLnJlc3VsdC1zaG93IHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICB3aWR0aDogMTIwcHg7XG4gIGhlaWdodDogMTIwcHg7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgYm9yZGVyLXJhZGl1czogOTlweDtcbn1cblxuLmxldmVsLXRpdGxlIHtcbiAgbWFyZ2luLWxlZnQ6IDFyZW07XG4gIGxpbmUtaGVpZ2h0OiAxMjBweDtcbiAgZm9udC1zaXplOiAzMnB4O1xufVxuXG4ubGV2ZWwtdmFsdWUge1xuICBmb250LXNpemU6IDMycHg7XG59XG5cbi5sZXZlbC1jb250ZW50IHtcbiAgZm9udC1mYW1pbHk6IEFwcGxlU3lzdGVtVUlGb250O1xuICBmb250LXNpemU6IDE0cHg7XG59XG5cbi8vY2hhbmdlXG4ubGV2ZWwtYnRuIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICByaWdodDogMDtcbiAgYm90dG9tOiAwO1xuICB3aWR0aDogMzBweDtcbiAgaGVpZ2h0OiAzMHB4O1xuICBsaW5lLWhlaWdodDogMjJweDtcbiAgYm9yZGVyOiAzcHggc29saWQgIzQyNDI0MjtcbiAgYm9yZGVyLXJhZGl1czogOTlweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuLmNvbG9yLW9uZV9iZyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMzMUJBRjk7XG59XG4uY29sb3ItdHdvX2JnIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzg2RDczRjtcbn1cbi5jb2xvci10aHJlZV9iZyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRjk4MkQ7XG59XG4uY29sb3ItZm91cl9iZyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRjZDMDM7XG59XG4uY29sb3ItZml2ZV9iZyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRjEyMDA7XG59XG5cbi8vY2hhbmdlXG4uY29sb3Itb25lX2JvciB7XG4gIGJvcmRlcjogNnB4IHNvbGlkICMzMUJBRjk7XG59XG4uY29sb3ItdHdvX2JvciB7XG4gIGJvcmRlcjogNnB4IHNvbGlkICM4NkQ3M0Y7XG59XG4uY29sb3ItdGhyZWVfYm9yIHtcbiAgYm9yZGVyOiA2cHggc29saWQgI0ZGOTgyRDtcbn1cbi5jb2xvci1mb3VyX2JvciB7XG4gIGJvcmRlcjogNnB4IHNvbGlkICNGRjZDMDM7XG59XG4uY29sb3ItZml2ZV9ib3Ige1xuICBib3JkZXI6IDZweCBzb2xpZCAjRkYxMjAwO1xufVxuXG4vL2NoYW5nZVxuLmNvbG9yLW9uZSB7XG4gIGNvbG9yOiAjMzFCQUY5O1xufVxuLmNvbG9yLXR3byB7XG4gIGNvbG9yOiAjODZENzNGO1xufVxuLmNvbG9yLXRocmVlIHtcbiAgY29sb3I6ICNGRjk4MkQ7XG59XG4uY29sb3ItZm91ciB7XG4gIGNvbG9yOiAjRkY2QzAzO1xufVxuLmNvbG9yLWZpdmUge1xuICBjb2xvcjogI0ZGMTIwMDtcbn1cblxuaDMge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGZvbnQtc2l6ZTogMjRweDtcbiAgY29sb3I6ICM0MjQyNDI7XG59XG5cbi5jYWwtYm9hcmQge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHdpZHRoOiA3NSU7XG4gIGhlaWdodDogNjJweDtcbiAgYmFja2dyb3VuZDogI2ZmZjtcbiAgc3BhbiB7XG4gICAgbGluZS1oZWlnaHQ6IDYycHg7XG4gICAgdmVydGljYWwtYWxpZ246IHRvcDtcbiAgfVxufVxuXG4uaWNvbi1jcm9zcyB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgei1pbmRleDogMTtcbiAgcmlnaHQ6IC0xMHB4O1xuICB0b3A6IC01cHg7XG4gIHdpZHRoOiAyNHB4O1xuICBoZWlnaHQ6IDI0cHg7XG4gIGJhY2tncm91bmQ6ICM5MTkxOTE7XG4gIGJvcmRlci1yYWRpdXM6IDk5cHg7XG4gIGN1cnNvcjogcG9pbnRlcjtcbiAgJjpob3ZlciB7XG4gICAgdHJhbnNpdGlvbjogLjNzO1xuICAgIGJhY2tncm91bmQ6ICM1ODU4NTg7XG4gIH1cbiAgJjo6YmVmb3JlLCAmOjphZnRlciB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGNvbnRlbnQ6XCJcIjtcbiAgICByaWdodDogMTFweDtcbiAgICB0b3A6IDRweDtcbiAgICB3aWR0aDogM3B4O1xuICAgIGhlaWdodDogMTZweDtcbiAgICBiYWNrZ3JvdW5kOiAjZjZmNmY2O1xuICB9XG4gICY6OmJlZm9yZSB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoNDVkZWcpO1xuICB9XG4gICY6OmFmdGVyIHtcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtNDVkZWcpO1xuICB9XG59XG5cbi8vY2hhbmdlXG4uY2FsLW9uZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgY29udGVudDogXCJcIjtcbiAgd2lkdGg6IDdweDtcbiAgaGVpZ2h0OiA2MnB4O1xuICBiYWNrZ3JvdW5kOiAjMzFCQUY5O1xuICBib3gtc2hhZG93OiAycHggMCAzcHggMCByZ2JhKDQ5LDE4NiwyNDksMC4yOSk7XG59XG4uY2FsLXR3byB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgY29udGVudDogXCJcIjtcbiAgd2lkdGg6IDdweDtcbiAgaGVpZ2h0OiA2MnB4O1xuICBiYWNrZ3JvdW5kOiAjODZENzNGO1xuICBib3gtc2hhZG93OiAycHggMCAzcHggMCByZ2JhKDEzNCwyMTUsNjMsMC4yOSk7IFxufVxuLmNhbC10aHJlZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgY29udGVudDogXCJcIjtcbiAgd2lkdGg6IDdweDtcbiAgaGVpZ2h0OiA2MnB4O1xuICBiYWNrZ3JvdW5kOiAjRkY5ODJEO1xuICBib3gtc2hhZG93OiAycHggMCAzcHggMCByZ2JhKDI1NSwxNTIsNDUsMC4yOSk7XG59XG4uY2FsLWZvdXIge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIHdpZHRoOiA3cHg7XG4gIGhlaWdodDogNjJweDtcbiAgYmFja2dyb3VuZDogI0ZGNkMwMztcbiAgYm94LXNoYWRvdzogMnB4IDAgM3B4IDAgcmdiYSgyNTUsMTA4LDMsMC4yOSk7XG59XG4uY2FsLWZpdmUge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIHdpZHRoOiA3cHg7XG4gIGhlaWdodDogNjJweDtcbiAgYmFja2dyb3VuZDogI0ZGMTIwMDtcbiAgYm94LXNoYWRvdzogMnB4IDAgM3B4IDAgcmdiYSgyNTUsMTgsMCwwLjI5KTtcbn1cblxuLmNhbC10aXRsZSwgLmNhbC1ibWlfc2V0LCAuY2FsLWtnX3NldCwgLmNhbC1jbV9zZXQge1xuICBmb250LXNpemU6IDIwcHg7XG4gIGNvbG9yOiAjNEE0QTRBO1xufSBcblxuLmNhbC1ibWksIC5jYWwta2csIC5jYWwtY20sIC5jYWwtZGF0ZSB7XG4gIGZvbnQtc2l6ZTogMTJweDtcbiAgY29sb3I6ICM0MjQyNDI7XG4gIHBhZGRpbmctcmlnaHQ6IDA7XG59XG5cbi5mb290ZXIge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIGJvdHRvbTogMDtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogOTBweDtcbiAgYmFja2dyb3VuZDp1cmwoLi4vaW1hZ2VzL0JNSUNMb2dvMi5wbmcpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjRkZEMzY2O1xuICBiYWNrZ3JvdW5kLXNpemU6IDU1cHg7IFxufVxuIl19 */
