.row.d-flex.align-items-center
    .col-12
        h2.mt-5.mb-4 自訂 icon
        h5.text-secondary 使用原則：外框型icon適用在主按鈕、主標題
        hr.mb-4
    .col-3.mb-5
        img.mr-2(src="images/login.svg")
        |登入
    .col-3.mb-5
        img.mr-2(src="images/logout.svg")
        |登出
    .col-3.mb-5
        img.mr-2(src="images/profile.svg")
        |使用者
    .col-3.mb-5
        img.mr-2(src="images/idcard.svg")
        |帳號
    .col-3.mb-5
        img.mr-2(src="images/ring.svg")
        |最新消息、通知
    .col-3.mb-5
        img.mr-2(src="images/megaphone.svg")
        |活動、促銷、優惠
    .col-3.mb-5
        img.mr-2(src="images/chat.svg")
        |訊息、聊天
    .col-3.mb-5
        img.mr-2(src="images/settings.svg")
        |會員設定
    .col-3.mb-5
        img.mr-2(src="images/coin.svg")
        |餘額、點數
    .col-3.mb-5
        img.mr-2(src="images/transfer.svg")
        |轉
    .col-3.mb-5
        img.mr-2(src="images/deposit.svg")
        |存
    .col-3.mb-5
        img.mr-2(src="images/withdraw.svg")
        |提
    .col-3.mb-5
        img.mr-2(src="images/star_outline.svg")
        |我的遊戲、最愛
    .col-3.mb-5
        img.mr-2(src="images/star_add.svg")
        |我的遊戲、最愛 (未選)
    .col-3.mb-5
        img.mr-2(src="images/star_fill.svg")
        |我的遊戲、最愛 (選取)
    .col-3.mb-5
        img.mr-2(src="images/magnifying-glass.svg")
        |搜尋
    .col-3.mb-5
        img.mr-2(src="images/history.svg")
        |歷史、投注紀錄
    .col-3.mb-5
        img.mr-2(src="images/history-transfer.svg")
        |轉點紀錄
    .col-3.mb-5
        img.mr-2(src="images/back.svg")
        |上一頁
    .col-3.mb-5
        img.mr-2(src="images/next.svg")
        |下一頁
    .col-3.mb-5
        img.mr-2(src="images/heart.svg")
        |愛心
    .col-3.mb-5
        img.mr-2(src="images/like.svg")
        |讚
    .col-3.mb-5
        img.mr-2(src="images/wallet.svg")
        |錢包
    .col-3.mb-5
        img.mr-2(src="images/folder.svg")
        |資料夾
    .col-3.mb-5
        img.mr-2(src="images/poker.svg")
        |真人視訊
    .col-3.mb-5
        img.mr-2(src="images/console.svg")
        |電子遊戲
    .col-3.mb-5
        img.mr-2(src="images/lottery.svg")
        |彩票遊戲
    .col-3.mb-5
        img.mr-2(src="images/football.svg")
        |運動賽事
    .col-3.mb-5
        img.mr-2(src="images/handshake.svg")
        |合作廠商
    .col-3.mb-5
        img.mr-2(src="images/link.svg")
        |連結
    .col-12
        h2.mt-5.mb-4 Font Awesome icon
        h5.text-secondary 使用原則：填滿型icon適用在內頁、小標題前後、按鈕、表格
        hr.mb-4
    .col-3.mb-5
        i.fas.fa-wallet.mr-2
        |錢包
    .col-3.mb-5
        i.fas.fa-redo.mr-2
        |重新整理
    .col-3.mb-5
        i.fas.fa-user.mr-2
        |會員中心
    .col-3.mb-5
        i.fas.fa-comments.mr-2
        |客服中心
    .col-3.mb-5
        i.fas.fa-globe-asia.mr-2
        |語系
    .col-3.mb-5
        i.fas.fa-plus.mr-2
        |新增
    .col-3.mb-5
        i.fas.fa-times-circle.mr-2
        |刪除
    .col-3.mb-5
        i.fas.fa-exclamation-triangle.mr-2
        |警示
    .col-3.mb-5
        i.fas.fa-eye.mr-2
        |可視密碼
    .col-3.mb-5
        i.fas.fa-eye-slash.mr-2
        |不可視密碼
    .col-3.mb-5
        i.fas.fa-fire.mr-2
        |熱門
    .col-3.mb-5
        i.fas.fa-clock.mr-2
        |最近玩過、申請中
    .col-3.mb-5
        i.fas.fa-flag.mr-2
        |未參加
    .col-3.mb-5
        i.fas.fa-check.mr-2
        |已參加、確定