.container-fluid.px-0.nav-main.nav-bg_live
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.c-blueLight.active(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.link-effect(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block
    //hotgame
    .row.mb-4
        .col-12
            .block-bg.block-bg_live.mb-2.d-flex.align-items-end
                .block-tit.d-flex.flex-row.align-items-end
                    .block-tit_iconHot
                    h4.ml-2.block-tit_textHot 热门游戏
        .col-3.d-flex.my-3
            a(href="#", data-toggle='modal', data-target='#gameLiveModalCenter').block-img.block-img_live1.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo1.png")
        .col-3.d-flex.my-3
            a(href="#", data-toggle='modal', data-target='#gameLiveModalCenter').block-img.block-img_live2.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo5.png")
        .col-3.d-flex.my-3
            a(href="#", data-toggle='modal', data-target='#gameLiveModalCenter').block-img.block-img_live3.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo4.png")
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto.d-flex.justify-content-center.align-items-center
        .col-12.my-3
            .horizontal
    //allgame
    .row.mb-4
        .col-12
            .block-tit.d-flex.align-items-end 
                .block-tit_iconAll
                h4.ml-2.block-tit_textAll 全部游戏
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto

// Modal
.modal.fade#gameLiveModalCenter(tabindex='-1', role='dialog', aria-labelledby='gameLiveModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#gameLiveModalLongTitle.modal-title 
                    i.fas.fa-wallet.mr-2
                    |點數管理
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fas.fa-times(aria-hidden='true')
            .modal-body.m-3
                form
                    //點數
                    .form-group.row
                        .col-2
                            i.fas.fa-wallet.pr-2 
                            |錢包點數
                        .col-4
                            span.pl-3 12345678.99
                            i.fas.fa-redo.c-blueDark.pl-3.cursor-p
                        .col-2 
                            i.fas.fa-dollar-sign.pr-2 
                            |沙龍額度
                        .col-4
                            span.pl-3 12345678.99
                            i.fas.fa-redo.c-blueDark.pl-3.cursor-p
                    //轉入遊戲
                    .form-group.row
                        .col-2.d-flex.align-items-center
                            i.fas.fa-gamepad.pr-2 
                            | 轉入遊戲
                        .col-10.d-flex.align-items-center.pl-4
                            input.form-control.border.border-primary.w-45.ml-1.py-2(type='text', placeholder='请输入點數')
                    //點數
                    .form-group.row
                        .col-2.d-flex.align-items-center
                            i.fas.fa-exchange-alt.pr-2
                            | 快速轉點
                        .col-10.pl-4
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 100
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 300
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 500
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 1000
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 3000
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 5000
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 10000
                            button.btn.btn-secondary.w-30.mx-1.my-2.py-2(type='button') 30000
                            button.btn.btn-dark.w-30.mx-1.my-2.py-2(type='button') 全部點數
                    //進入遊戲
                    .form-group.row
                        .col-10.offset-2.pl-4
                            button.btn.btn-primary.w-45.mx-1.py-2(type='button') 
                                i.fas.fa-exchange-alt.pr-2
                                |轉點並進入游戏
                            button.btn.btn-outline-primary.w-45.mx-3.py-2(type='button') 
                                i.fas.fa-long-arrow-alt-right.pr-2
                                |直接進入游戏
