.container-fluid.px-0.nav-main.nav-bg_sport
    //nav-main
    ul.nav.justify-content-center.nav-pos
        li.nav-item
            a.nav-link.link-effect(href="game-live.html") 真人视讯
        li.nav-item
            a.nav-link.c-blueLight.active(href="game-sport.html") 体育赛事
        li.nav-item
            a.nav-link.link-effect(href="game-lottery.html") 彩票游戏
        li.nav-item
            a.nav-link.link-effect(href="game-electronic.html") 电子游戏
        li.nav-item
            a.nav-link.link-effect(href="promotion.html") 优惠活动
    //nav-shadow
    .nav-shadow.nav-shadow_pos

.container.content-block
    //hotgame
    .row.mb-4
        .col-12
            .block-bg.block-bg_sport.mb-2.d-flex.align-items-end
                .block-tit.d-flex.flex-row.align-items-end
                    .block-tit_iconHot
                    h4.ml-2.block-tit_textHot 热门游戏
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_sport1.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo15.png")
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_sport2.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo18.png")
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_sport3.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo19.png")
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_sport4.d-flex.justify-content-center.align-items-center
                img(src="./images/logo/logo19.png")
        .col-12.my-3
            .horizontal
    //allgame
    .row.mb-4
        .col-12
            .block-tit.d-flex.align-items-end 
                .block-tit_iconAll
                h4.ml-2.block-tit_textAll 全部游戏
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto
        .col-3.d-flex.my-3
            a(href="#").block-img.block-img_auto