.row.pt-3.pb-5
    .col-3
        a.hotBlock(href="#")
            .hotBlock-img_area.hotBlock-img1
            .hotBlock-text_area DDFGaming
    .col-3
        a.hotBlock(href="#")
            .hotBlock-img_area.hotBlock-img2
            .hotBlock-text_area SA Gaming
    .col-3
        a.hotBlock(href="#")
            .hotBlock-img_area.hotBlock-img3
            .hotBlock-text_area 打打鱼游戏
    .col-3
        a.hotBlock(href="#")
            .hotBlock-img_area.hotBlock-img4
            .hotBlock-text_area 打打鱼游戏